<div class="logement-index-container">

  <div class="faune-return-btn">
    <%= link_to root_path do %>
      <%= image_tag('home/MerlimontB.png') %>
    <% end %>
  </div>


  <div class="logement-index-title">
    <h1 class="logement-index-shadow-title"><%= @categorie.present? ? "Nos logements en #{@categorie}" : 'Tous nos logements' %></h1>
    <h1 class="logement-index-block-title"><%= @categorie.present? ? "Nos logements en #{@categorie}" : 'Tous nos logements' %></h1>
  </div>

  <div class="activite-index-all-acti-container">

    <div class="activite-index-all-acti">
      <% @logements.each do |logement| %>
        <div class="activite-index-une-acti-container">
          <%= link_to logement_path(logement), class: "activite-index-une-acti" do %>

            <div class="moovetoo">
              <p class="acti-ind-title"><%= logement.title %></p>


              <% if logement.photo.attached? %>
                <div class="acti-ind-pic-container">
                  <%= cl_image_tag logement.photo.key %>
                </div>
              <% end %>

              <div class="acti-ind-cat-price-container">
                <p class="acti-ind-title"><%= logement.categorie %></p>
                <p class="acti-ind-title"><%= logement.price %>€ / nuit</p>
              </div>

            </div>


            <br>
            <br>
          <% end %>
        </div>
      <% end %>

    </div>

  </div>

</div>
