<h1>tout les logements</h1>

<% @logements.each do |logement| %>
  <div>
    <p><%= logement.categorie %></p>
    <strong><%= logement.title %></strong>
    <p><%= logement.description %></p>
    <p><%= logement.price %></p>
    <p><%= logement.email %></p>
    <p><%= logement.phone %></p>
    <% if logement.photo.attached? %>
      <%= cl_image_tag logement.photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>
  </div>
<% end %>
