<div class="test-home-seconde-div" style="background-image: url('<%= asset_path('home/sablebg.png') %>');">

  <div class="home-traces">
    <%= image_tag('home/home_trace.svg') %>
  </div>

  <div class="test-home-title-container">
    <div class="home-presentation-title-shadow">
      <div class="home-presentation-parasol-container">
        <h1>Merlimont</h1>
        <div class="home-presentation-parasol">
          <%= image_tag('home/parasol.svg') %>
        </div>
      </div>
    </div>
    <h1>Merlimont</h1>
  </div>

  <div class="test-home-seconde-div-text-img-container">

    <div class="test-home-seconde-div-text-container">
      <p>Bienvenue à Merlimont! où le charme authentique de la côte d'Opale rencontre la tranquillité et la beauté naturelle.<br>activités, logements, infos..<br>Vous êtes au bon endroit. </p>
      <%= image_tag('testhome/testtraittrois.png') %>

    </div>

    <div class="test-home-seconde-div-img-container">
      <div class="test-home-seconde-div-img-content">
        <%= image_tag('testhome/testcoeurquatre.png') %>
      </div>
    </div>

  </div>

  <div class="home-activites-vague-haut">
    <%= image_tag('home/home_vague_hauts.png') %>
    <div class="wave"></div>
  </div>

</div>
