<div class="test-home-seconde-div">

  <div class="home-traces">
    <%= image_tag('home/home_trace.svg') %>
  </div>

  <div class="test-home-title-container">
    <div class="home-presentation-title-shadow">
      <div class="home-presentation-parasol-container">
        <h1>Merlimont</h1>
        <div class="home-presentation-parasol">
          <%= image_tag('home/parasol.svg') %>
        </div>
      </div>
    </div>
    <h1>Merlimont</h1>
  </div>

  <div class="test-home-seconde-div-text-img-container">

    <div class="test-home-seconde-div-text-container">
      <p>Nichée entre dunes sauvages et plages de sable fin, Merlimont est une destination côtière idyllique où le charme authentique de la côte d'Opale rencontre la tranquillité et la beauté naturelle.</p>
      <%= image_tag('testhome/testtraittrois.png') %>

    </div>

    <div class="test-home-seconde-div-img-container">
      <div class="test-home-seconde-div-img-content">
        <%= image_tag('testhome/testcoeurquatre.png') %>
      </div>
    </div>

  </div>

  <div class="home-activites-vague-haut">
    <%= image_tag('home/home_vague_haut.png') %>
    <div class="wave"></div>
  </div>

</div>
