<div class="test-home-third-div">
  <div class="test-home-title-container">
    <div class="home-presentation-title-shadow">
      <div class="home-presentation-parasol-container">
        <h1>Activités</h1>
        <div class="home-presentation-cerfvolant">
          <%= image_tag('testhome/kite.png') %>
        </div>
      </div>
    </div>
    <h1>Activités</h1>
  </div>

  <div class="home-activite-container">
    <div class="home-activite-card-carousel">



      <!-- golf  -->
      <div class="card card-un" id="1">

        <div class="card-item-one">
          <div class="card-item-image-container object" data-value="2">
            <%= image_tag('testhome/golfmaindeux.png') %>
          </div>
        </div>

        <div class="card-item-two">
          <div class="card-item-image-container object" data-value="-4">
            <%= image_tag('testhome/golftee.png') %>

          </div>
        </div>

        <div class="card-item-three">
          <div class="card-item-image-container object" data-value="5">
            <%= image_tag('testhome/golf_item_cinq.png') %>
          </div>
        </div>


        <div class="card-item-four">
          <div class="card-item-image-container object" data-value="3">
            <%= image_tag('testhome/golf_item_club.png') %>
          </div>
        </div>

        <div class="card-item-five">
          <div class="card-item-image-container object" data-value="-5">
            <%= image_tag('testhome/golf_item_cinq.png') %>
          </div>
        </div>

        <div class="card-div-image">
          <div class="image-container" style="background-image: url('<%= cl_image_path(@activites[1].photo.key) %>');">
          </div>
        </div>

        <div class="card-div-text">
          <p class="activite-title"><%= @activites[1].title %></p>
          <%= link_to "Voir plus", activite_path(@activites[1]) %>
        </div>

      </div>


      <!-- naut -->
      <div class="card card-deux" id="2">

        <div class="card-item-one">
          <div class="card-item-image-container object" data-value="-2">
            <%= image_tag('testhome/nautmain.png') %>
          </div>
        </div>

        <div class="card-item-two">
          <div class="card-item-image-container object" data-value="4">
            <%= image_tag('testhome/nautjet.png') %>

          </div>
        </div>

        <div class="card-item-three">
          <div class="card-item-image-container object" data-value="-5">
            <%= image_tag('testhome/nautsun.png') %>
          </div>
        </div>


        <div class="card-item-four">
          <div class="card-item-image-container object" data-value="-3">
            <%= image_tag('testhome/nautkayakr.png') %>
          </div>
        </div>

        <div class="card-item-five">
          <div class="card-item-image-container object" data-value="5">
            <%= image_tag('testhome/nautsun.png') %>
          </div>
        </div>


        <div class="card-div-image">
          <div class="image-container" style="background-image: url('<%= cl_image_path(@activites[2].photo.key) %>');">
          </div>
        </div>

        <div class="card-div-text">
          <p class="activite-title"><%= @activites[2].title %></p>
          <%= link_to "Voir plus", activite_path(@activites[2]) %>
        </div>

      </div>

      <!-- Bagatelle central -->
      <div class="card card-trois" id="3">

        <div class="card-item-one">
          <div class="card-item-image-container object" data-value="-2">
            <%= image_tag('testhome/parkmain.png') %>
          </div>
        </div>

        <div class="card-item-two">
          <div class="card-item-image-container object" data-value="4">
            <%= image_tag('testhome/parkscary.png') %>

          </div>
        </div>

        <div class="card-item-three">
          <div class="card-item-image-container object" data-value="-5">
            <%= image_tag('testhome/parkcarrou.png') %>
          </div>
        </div>


        <div class="card-item-four">
          <div class="card-item-image-container object" data-value="-3">
            <%= image_tag('testhome/parkpeople.png') %>
          </div>
        </div>

        <div class="card-item-five">
          <div class="card-item-image-container object" data-value="5">
            <%= image_tag('testhome/parkscary.png') %>
          </div>
        </div>

        <div class="card-div-image">
          <div class="image-container" style="background-image: url('<%= cl_image_path(@activites[0].photo.key) %>');">
          </div>
        </div>

        <div class="card-div-text">
          <p class="activite-title"><%= @activites[0].title %></p>
          <%= link_to "Voir plus", activite_path(@activites[0]) %>
        </div>

      </div>


      <!-- activite sentier -->
      <div class="card card-quatre" id="4">

        <div class="card-item-one">
          <div class="card-item-image-container object" data-value="2">
            <%= image_tag('testhome/sentiermain.png') %>
          </div>
        </div>

        <div class="card-item-two">
          <div class="card-item-image-container object" data-value="-4">
            <%= image_tag('testhome/sentierfleurj.png') %>

          </div>
        </div>

        <div class="card-item-three">
          <div class="card-item-image-container object" data-value="5">
            <%= image_tag('testhome/sentieroiseau.png') %>
          </div>
        </div>


        <div class="card-item-four">
          <div class="card-item-image-container object" data-value="3">
            <%= image_tag('testhome/sentierlapin.png') %>
          </div>
        </div>

        <div class="card-item-five">
          <div class="card-item-image-container object" data-value="-5">
            <%= image_tag('testhome/sentierfleurj.png') %>
          </div>
        </div>

        <div class="card-div-image">
          <div class="image-container" style="background-image: url('<%= cl_image_path(@activites[3].photo.key) %>');">
          </div>
        </div>

        <div class="card-div-text">
          <p class="activite-title"><%= @activites[3].title %></p>
          <%= link_to "Voir plus", activite_path(@activites[3]) %>
        </div>

      </div>

      <!-- petanque -->
      <div class="card card-cinq" id="5">

        <div class="card-item-one">
          <div class="card-item-image-container object" data-value="-2">
            <%= image_tag('testhome/petanquemain.png') %>
          </div>
        </div>

        <div class="card-item-two">
          <div class="card-item-image-container object" data-value="4">
            <%= image_tag('testhome/petanqueco.png') %>

          </div>
        </div>

        <div class="card-item-three">
          <div class="card-item-image-container object" data-value="-5">
            <%= image_tag('testhome/petanqueboule.png') %>
          </div>
        </div>


        <div class="card-item-four">
          <div class="card-item-image-container object" data-value="-3">
            <%= image_tag('testhome/petanqueboule.png') %>
          </div>
        </div>

        <div class="card-item-five">
          <div class="card-item-image-container object" data-value="5">
            <%= image_tag('testhome/petanqueco.png') %>
          </div>
        </div>

        <div class="card-div-image">
          <div class="image-container" style="background-image: url('<%= cl_image_path(@activites[4].photo.key) %>');">
          </div>
        </div>

        <div class="card-div-text">
          <p class="activite-title"><%= @activites[4].title %></p>
          <%= link_to "Voir plus", activite_path(@activites[4]) %>
        </div>

      </div>




    </div>
    <a href="#" class="visuallyhidden card-controller">Carousel controller</a>
  </div>


  <div class="home-activite-button-container">
    <%= link_to logements_path do%>
      <%= image_tag('activites/boue_button.svg') %>
    <% end %>
  </div>

</div>
