<div class="about-container">

  <div class="about-dunes-mer">

    <div class="old-return-btn">
      <%= link_to root_path do %>
        <%= image_tag('home/MerlimontB.png') %>
      <% end %>
    </div>

    <!-- <div class="about-retour">
      <%= link_to "< Retour a l'accueil", root_path %>
    </div> -->

    <%= image_tag('about/dunesciel.svg') %>

    <div class="about-moon-container">
      <%= image_tag('about/moon.svg') %>
    </div>

  </div>

  <div class="about-text-sable">
    <%= image_tag('about/bienvenue_le_site.svg') %>
  </div>

  <div class="about-trait-sable-container">
    <%= image_tag('about/about_trait_sable.svg') %>
  </div>

  <div class="about-presentation-container">
    <div class="about-presentation-content">
      <div class="about-presentation-left">
        <div class="about-presentation-left-image"></div>
        <div class="about-presentation-left-background"></div>
      </div>
      <div class="about-presentation-right">
      </div>
    </div>
  </div>

  <div class="about-mer-container">
    <%= image_tag('about/about_mer.svg') %>
  </div>

  <div class="about-collab">
    <p>
      Développeur : Anonymous 1 & Anonymous 2
      <br><br>
      En collaboration avec
      <br><br>
      Videastre : Nom Prenom lien
      <br>
      Photographe : Nom Prenom lien
      <br>
      Maitre Chercheur : Nom prenom
    </p>
  </div>


  <div class="about-contact">

    <p>
      Pour contacter les développeurs
      <br>
      merci d’envoyez un message dans une bouteille à la mer.
    </p>

  </div>
