

<div class="about-container">

  <div class="about-main-container">

    <div class="old-return-btn">
      <%= link_to root_path do %>
        <%= image_tag('home/MerlimontB.png') %>
      <% end %>
    </div>

    <section>
        <%= image_tag('about/background.png', id: "bg") %>
        <%= image_tag('about/moonp.png', id: "moon") %>
        <%= image_tag('about/dunesp.png', id: "mountain") %>
    </section>

    <div class="about-text-sable-main">
      <%= image_tag('about/artisans.svg') %>
      <%= image_tag('home/home_trace_trait.svg') %>
    </div>

  </div>

  <div class="about-seconde-container">
    <div class="about-text-sable-role">
      <%= image_tag('about/createur.svg') %>
    </div>

    <div class="about-presentation-container-first">
      <div class="about-presentation-content">
        <div class="about-presentation-left">
          <div class="about-presentation-left-image">
            <%= image_tag('about/dev.jpg') %>
          </div>
          <div class="about-presentation-left-background"></div>
        </div>
        <div class="about-presentation-right-container">
          <div class="about-presentation-right-content">
            <div>
              <p class="role">Développeur Web</p>
              <p class="name">Fiolet Dorian</p>
            </div>
            <p class="description">Le développeur derrière ce site. Originaire de Merlimont et diplômé de l'école du Wagon de Lille, j'ai créé cette plateforme pour offrir à la communauté locale et à ses visiteurs une expérience en ligne immersive et informative. Mon objectif est de mettre en valeur les richesses de Merlimont et de faciliter l'accès aux informations essentielles pour ses habitants et ses visiteurs.</p>
            <div>
              <a href="https://fltdev.net" target="_blank">VOIR PLUS</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="about-text-sable-role">
      <%= image_tag('about/collab.svg') %>
    </div>



    <div class="about-presentation-container-first">
      <div class="about-presentation-content">
        <div class="about-presentation-left">
          <div class="about-presentation-left-image">
            <%= image_tag('about/yves.jpg') %>
          </div>
          <div class="about-presentation-left-background"></div>
        </div>
        <div class="about-presentation-right-container">
          <div class="about-presentation-right-content">
            <div>
              <p class="role">Photographe</p>
              <p class="name">Yves Lefevre</p>
            </div>
            <p class="description">Je suis Yves Lefevre, le photographe dont les œuvres sont présentées sur ce site. À travers mes photographies, je cherche à capturer la beauté et l'essence de Merlimont. J'ai eu le privilège d'immortaliser des moments uniques et de les partager avec vous à travers cette plateforme en ligne. Mon objectif est de vous emmener dans un voyage visuel et de vous permettre de ressentir l'émotion et la magie présentes dans chaque image.</p>
            <div>
              <a href="#">VOIR PLUS</a>
            </div>
          </div>
        </div>
      </div>
    </div>

      <div class="about-presentation-container">
      <div class="about-presentation-content">
        <div class="about-presentation-left">
          <div class="about-presentation-left-image">
            <%= image_tag('about/julienvalentin.png') %>
          </div>
          <div class="about-presentation-left-background"></div>
        </div>
        <div class="about-presentation-right-container">
          <div class="about-presentation-right-content">
            <div>
              <p class="role">Maitre Chercheur</p>
              <p class="name">Valentin Julien</p>
            </div>
            <p class="description">Personnage clé de ce site en tant que maître chercheur. En tant que membre de l'ONF de Merlimont, mon rôle est de mener des recherches approfondies sur la faune et la flore de notre région. Inspiré par ma passion pour la nature et mon désir de découvrir de nouveaux horizons, j'ai entrepris un long voyage d'exploration pour étudier de près les merveilles de notre environnement naturel.</p>
            <div>
              <a href="#">VOIR PLUS</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="about-mer-container">
      <%= image_tag('about/about_mer.svg') %>
    </div>



    <div class="about-contact">
      <br><br><br><br><br><br>
    </div>

    <footer>
      <div class="footer">
        <p>© copyright 2024 | tout droit réservé | Une production Anonymous1 & Anonymous2</p>
        <p>Just for the love &lt;3</p>
      </div>
    </footer>

  </div>

</div>

<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function() {
    let bg = document.getElementById("bg");
    let moon = document.getElementById("moon");
    let mountain = document.getElementById("mountain");

    window.addEventListener('scroll', function(){
        var value = window.scrollY;

        bg.style.top = value * 0.5 + 'px';
        moon.style.top = value * 1 + 'px'; // Déplacer vers le bas
        moon.style.left = value * 1 + 'px'; // gauche
        mountain.style.top = -value * 0.15 + 'px';
        console.log("onestla");
    });
  });
</script>
