<div class="dash-container">

  <div class="dash-title-container">
    <h2>Dashboard</h2>
  </div>
  <br><br>



  <div class="dash-activite-title">
    <h1>Liste des Activités</h1>
    <h3><%= link_to "Voir la page des activites", activites_path %></h3>
    <%= link_to "cree une activites", new_activite_path %>
  </div>

  <div class="dash-all-activitie-container">
    <div class="dash-all-activities">
      <% @activites.each do |activite| %>

        <div class="dash-one-activitie">
          <div>
            <%= activite.title %>
          </div>
          <div class="dash-one-activite-modif">
            <% if activite.photo.attached? %>
              <p>Avec image</p>
            <% else %>
              <p>sans image</p>
            <% end %>
            <%= link_to activite_path(activite) do %>
              <i class="fa-solid fa-eye"></i>
            <% end %>
            <%= link_to edit_activite_path(activite) do %>
              <i class="fa-solid fa-pen-to-square"></i>
            <% end %>
            <%= link_to activite_path(activite), data: { turbo_method: :delete, turbo_confirm: "Êtes-vous sûr de vouloir supprimer ?" }, class: "deco-none dash-corbeille" do %>
              <i class="fa-solid fa-trash"></i>
            <% end %>
          </div>
        </div>

      <% end %>
    </div>
  </div>

  <div class="dash-activite-title">
    <h1>Liste des Logements</h1>
    <h3><%= link_to "Voir la page des Logements", logements_path %></h3>
    <%= link_to "cree un logement", new_logement_path %>
  </div>

  <div class="dash-all-activitie-container">
    <div class="dash-all-activities">
      <% @logements.each do |logement| %>

        <div class="dash-one-activitie">
          <div class="dash-one-activite-titre">
            <p><%= logement.title %></p>
          </div>
          <div class="dash-one-activite-modif">
            <p><%= logement.categorie %></p>
            <% if logement.photo.attached? %>
              <p>Avec image</p>
            <% else %>
              <p>sans image</p>
            <% end %>
            <%= link_to logement_path(logement) do %>
              <i class="fa-solid fa-eye"></i>
            <% end %>
            <%= link_to edit_logement_path(logement) do %>
              <i class="fa-solid fa-pen-to-square"></i>
            <% end %>
            <%= link_to logement_path(logement), data: { turbo_method: :delete, turbo_confirm: "Êtes-vous sûr de vouloir supprimer ?" }, class: "deco-none dash-corbeille" do %>
              <i class="fa-solid fa-trash"></i>
            <% end %>
          </div>
        </div>

      <% end %>
    </div>
  </div>

  <div class="dash-activite-title">
    <h1>Liste faune & flore</h1>
    <h3><%= link_to "page faune flore",  fauneflore_path %></h3>
  </div>

  <div class="dash-activite-title">
    <h3>Biotopes</h3>
    <%= link_to "Cree un biotop", new_biotop_path %>
  </div>

  <div class="dash-all-activitie-container">
    <div class="dash-all-activities">
      <% @biotopes.each do |biotop| %>

        <div class="dash-one-activitie">
          <div class="dash-one-activite-titre">
            <p><%= biotop.categorie %></p>
          </div>
          <div class="dash-one-activite-modif">

            <%= link_to edit_biotop_path(biotop) do %>
              <i class="fa-solid fa-pen-to-square"></i>
            <% end %>
            <%= link_to biotop_path(biotop), data: { turbo_method: :delete, turbo_confirm: "Êtes-vous sûr de vouloir supprimer ?" }, class: "deco-none dash-corbeille" do %>
              <i class="fa-solid fa-trash"></i>
            <% end %>
          </div>
        </div>

      <% end %>
    </div>
  </div>


  <div class="dash-activite-title">
    <h3>Type espece categorie</h3>
    <%= link_to "cree type espece categorie", new_type_espece_category_path %>
  </div>

  <div class="dash-all-activitie-container">
    <div class="dash-all-activities">
      <% @typeEspeceCategories.each do |type_espece_categories| %>

        <div class="dash-one-activitie">
          <div class="dash-one-activite-titre">
            <p><%= type_espece_categories.categorie %></p>
          </div>
          <div class="dash-one-activite-modif">
            <p><%= type_espece_categories.biotop.categorie %></p>
            <p><%= type_espece_categories.user.first_name %></p>

            <% if type_espece_categories.photo.attached? %>
              <p>Avec image</p>
            <% else %>
              <p>sans image</p>
            <% end %>
            <%= link_to type_espece_category_path(type_espece_categories) do %>
              <i class="fa-solid fa-eye"></i>
            <% end %>
            <%= link_to edit_type_espece_category_path(type_espece_categories) do %>
              <i class="fa-solid fa-pen-to-square"></i>
            <% end %>
            <%= link_to type_espece_category_path(type_espece_categories), data: { turbo_method: :delete, turbo_confirm: "Êtes-vous sûr de vouloir supprimer ?" }, class: "deco-none dash-corbeille" do %>
              <i class="fa-solid fa-trash"></i>
            <% end %>
          </div>
        </div>

      <% end %>
    </div>
  </div>


  <div class="dash-activite-title">
    <h3>Espece categorie</h3>
    <%= link_to "cree une categorie d espece", new_espece_category_path %>
  </div>

  <div class="dash-all-activitie-container">
    <div class="dash-all-activities">
      <% @especeCategories.each do |espece_categorie| %>

        <div class="dash-one-activitie">
          <div class="dash-one-activite-titre">
            <p><%= espece_categorie.categorie %></p>
          </div>
          <div class="dash-one-activite-modif">
            <p><%= espece_categorie.user.first_name %></p>
            <% if espece_categorie.photo.attached? %>
              <p>Avec image</p>
            <% else %>
              <p>sans image</p>
            <% end %>
            <%= link_to espece_category_path(espece_categorie) do %>
              <i class="fa-solid fa-eye"></i>
            <% end %>
            <%= link_to edit_espece_category_path(espece_categorie) do %>
              <i class="fa-solid fa-pen-to-square"></i>
            <% end %>
            <%= link_to espece_category_path(espece_categorie), data: { turbo_method: :delete, turbo_confirm: "Êtes-vous sûr de vouloir supprimer ?" }, class: "deco-none dash-corbeille" do %>
              <i class="fa-solid fa-trash"></i>
            <% end %>
          </div>
        </div>

      <% end %>
    </div>
  </div>


  <div class="dash-activite-title">
    <h3>Espece</h3>
    <%= link_to "cree une d'espece", new_espece_path %>
  </div>

  <div class="dash-all-activitie-container">
    <div class="dash-all-activities">
      <% @especes.each do |espece| %>

        <div class="dash-one-activitie">
          <div class="dash-one-activite-titre">
            <p><%= espece.nom %></p>
          </div>
          <div class="dash-one-activite-modif">
            <p><%= espece.espece_categorie.categorie %></p>
            <p><%= espece.user.first_name %></p>
            <% if espece.photo.attached? %>
              <p>Avec image</p>
            <% else %>
              <p>sans image</p>
            <% end %>
            <%= link_to espece_path(espece) do %>
              <i class="fa-solid fa-eye"></i>
            <% end %>
            <%= link_to edit_espece_path(espece) do %>
              <i class="fa-solid fa-pen-to-square"></i>
            <% end %>
            <%= link_to espece_path(espece), data: { turbo_method: :delete, turbo_confirm: "Êtes-vous sûr de vouloir supprimer ?" }, class: "deco-none dash-corbeille" do %>
              <i class="fa-solid fa-trash"></i>
            <% end %>
          </div>
        </div>

      <% end %>
    </div>
  </div>

  <div class="anti-marging"></div>




</div>
