<div class="dash-caintainer">

  <div class="dash-title-container">
    <h3>Dashboard</h3>
  </div>
  <br><br>




  <h1>Liste des Activités</h1>
  <h3><%= link_to "Voir le page des activites", activites_path %></h3>

  <%= link_to "cree une activites", new_activite_path %>

  <% @activites.each do |activite| %>
      <br><br>
      <strong><%= activite.title %></strong>
      <p><%= activite.description %></p>
      <% if activite.photo.attached? %>
        <%= cl_image_tag activite.photo.key, height: 300, width: 400, crop: :fill %>
      <% end %>
      <%= link_to "voir l activite", activite_path(activite) %>
      <br>
      <%= link_to "modifer l activite", edit_activite_path(activite) %>
      <br>
      <%= link_to activite_path(activite), data: { turbo_method: :delete, turbo_confirm: "Êtes-vous sûr de vouloir supprimer ?" }, class: "deco-none dash-corbeille" do %>
        <i class="fa-solid fa-trash" style="color: #111;"></i>
      <% end %>
      <br><br>

  <% end %>


</div>
<pre>
 _                _
| |              | |
| |__   __ _  ___| | _____ _ __
| '_ \ / _` |/ __| |/ / _ \ '__|
| | | | (_| | (__|   <  __/ |
|_| |_|\__,_|\___|_|\_\___|_|



     0000             0000        7777777777777777/========___________
   00000000         00000000      7777^^^^^^^7777/ || ||   ___________
  000    000       000    000     777       7777/=========//
 000      000     000      000             7777// ((     //
0000      0000   0000      0000           7777//   \\   //
0000      0000   0000      0000          7777//========//
0000      0000   0000      0000         7777
0000      0000   0000      0000        7777
 000      000     000      000        7777
  000    000       000    000       77777
   00000000         00000000       7777777
     0000             0000        777777777

      ___                                  _____          ___
     /  /\                      ___       /  /::\        /  /\          ___
    /  /:/_                    /  /\     /  /:/\:\      /  /:/_        /__/\
   /  /:/ /\  ___     ___     /  /:/    /  /:/  \:\    /  /:/ /\       \  \:\
  /  /:/ /:/ /__/\   /  /\   /  /:/    /__/:/ \__\:|  /  /:/ /:/_       \  \:\
 /__/:/ /:/  \  \:\ /  /:/  /  /::\    \  \:\ /  /:/ /__/:/ /:/ /\  ___  \__\:\
  \  \:\/:/    \  \:\  /:/  /__/:/\:\    \  \:\  /:/  \  \:\/:/ /:/ /__/\ |  |:|
   \  \::/      \  \:\/:/   \__\/  \:\    \  \:\/:/    \  \::/ /:/  \  \:\|  |:|
    \  \:\       \  \::/         \  \:\    \  \::/      \  \:\/:/    \  \:\__|:|
     \  \:\       \__\/           \__\/     \__\/        \  \::/      \__\::::/
      \__\/                                               \__\/           ~~~~
</pre>
