<div class="florecat-faune-div">




  <div class="florecat-categories-container">

    <%= link_to faunes_path(categorie: 'Oiseaux'), class: 'florecat-categories-owner' do %>
        <div class="florecat-categories-owner-title">Oiseaux</div>
        <div class="florecat-categories-owner-picture">
          <%= image_tag('faune/flore_img_center.jpg') %>
        </div>
    <% end %>

    <%= link_to faunes_path(categorie: 'Mammifères terrestres'), class: 'florecat-categories-owner' do %>
      <div class="florecat-categories-owner-title">Mammifères terrestres</div>
      <div class="florecat-categories-owner-picture">
        <%= image_tag('faune/flore_img_center.jpg') %>
      </div>
    <% end %>

    <%= link_to faunes_path(categorie: 'Poissons'), class: 'florecat-categories-owner' do %>
      <div class="florecat-categories-owner-title">Poissons</div>
      <div class="florecat-categories-owner-picture">
        <%= image_tag('faune/flore_img_center.jpg') %>
      </div>
    <% end %>


    <%= link_to faunes_path(categorie: 'Crustacés'), class: 'florecat-categories-owner' do %>
      <div class="florecat-categories-owner-title">Crustacés</div>
      <div class="florecat-categories-owner-picture">
        <%= image_tag('faune/flore_img_center.jpg') %>
      </div>
    <% end %>

    <%= link_to faunes_path(categorie: 'Mammifères marins'), class: 'florecat-categories-owner' do %>
      <div class="florecat-categories-owner-title">Mammifères marins</div>
      <div class="florecat-categories-owner-picture">
        <%= image_tag('faune/flore_img_center.jpg') %>
      </div>
    <% end %>

    <%= link_to faunes_path(categorie: 'Insectes & arthropodes'), class: 'florecat-categories-owner' do %>
      <div class="florecat-categories-owner-title">Insectes & arthropodes</div>
      <div class="florecat-categories-owner-picture">
        <%= image_tag('faune/flore_img_center.jpg') %>
      </div>
    <% end %>

    <%= link_to faunes_path(categorie: 'Reptiles'), class: 'florecat-categories-owner' do %>
      <div class="florecat-categories-owner-title">Reptiles</div>
      <div class="florecat-categories-owner-picture">
        <%= image_tag('faune/flore_img_center.jpg') %>
      </div>
    <% end %>

    <%= link_to faunes_path(categorie: 'Amphibiens'), class: 'florecat-categories-owner' do %>
      <div class="florecat-categories-owner-title">Amphibiens</div>
      <div class="florecat-categories-owner-picture">
        <%= image_tag('faune/flore_img_center.jpg') %>
      </div>
    <% end %>

    <%= link_to faunes_path(categorie: 'Petits mammifères'), class: 'florecat-categories-owner' do %>
      <div class="florecat-categories-owner-title">Petits mammifères</div>
      <div class="florecat-categories-owner-picture">
        <%= image_tag('faune/flore_img_center.jpg') %>
      </div>
    <% end %>

  </div>

  <!--
  <div class="florecat-btn-container">
    <%= link_to faune_path do%>
      imagetag
    <% end %>
  </div>
  -->
</div>
