<div class="faune-home-container">
  <div class="faune-main-div">

    <%= image_tag "faune/faune_main.jpg", class:"faune-main-background" %>

    <div class="faune-return-btn">
      <%= link_to root_path do %>
        <%= image_tag('home/MerlimontB.png') %>
      <% end %>
    </div>

    <div class="faune-main-text-container">
      <div class="faune-main-title">
        <h1>Faune &<br>Flore</h1>
      </div>

      <div class="faune-main-trait"></div>

      <div class="faune-main-subtitle">
        <p>Merlimont, joyau de la côte d'Opale,</p>
        <p>vous dévoile sa biodiversité riche et variée.</p>
      </div>
    </div>

    <div class="faune-main-three-pic-container">
      <div class="faune-main-three-pic-content">
        <div class="faune-main-pic-left">
        <%= image_tag('faune/flore_img_left') %>
        </div>
        <div class="faune-main-pic-center">
          <%= image_tag('faune/flore_img_center') %>
        </div>
        <div class="faune-main-pic-right">
          <%= image_tag('faune/flore_img_right') %>
        </div>
      </div>
    </div>
  </div>

  <div class="faune-seconde-div-container">
  </div>

</div>
