<div class="faune-home-container">

  <% if user_signed_in? %>
    <%= link_to moncompte_path do %>
      <div class="moncompte-link-sticky-container">
        <div class="moncompte-link-sticky">
          <% if current_user.photo.attached? %>
            <%= image_tag current_user.photo.url %>
          <% else %>
            <%= image_tag "default_user_photo.png", alt: "Default User Photo" %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>


  <div id="top-of-page" class="faune-main-div">

    <%= image_tag "faune/faune_main.jpg", class:"faune-main-background" %>

    <div class="faune-return-btn">
      <%= link_to root_path do %>
        <%= image_tag('home/MerlimontB.png') %>
      <% end %>
    </div>

    <div class="faune-main-text-container">
      <div class="faune-main-title">
        <h1>Faune &<br>Flore</h1>
      </div>

      <div class="faune-main-trait"></div>

      <div class="faune-main-subtitle">
        <p>Merlimont, joyau de la côte d'Opale,</p>
        <p>vous dévoile sa biodiversité riche et variée.</p>
      </div>
    </div>

    <div class="faune-main-shadow-bottom"></div>


    <div class="faune-main-three-pic-container">
      <div class="faune-main-three-pic-content">
        <div class="faune-main-pic-left">
        <%= image_tag('faune/flore_img_left') %>
        </div>
        <div class="faune-main-pic-center">
          <%= image_tag('faune/flore_img_center') %>
        </div>
        <div class="faune-main-pic-right">
          <%= image_tag('faune/flore_img_right') %>
        </div>
      </div>
    </div>
  </div>



  <div class="faune-onf-container">

    <div class="faune-onf-left">
      <div class="faune-onf-left-img-container">
        <%= image_tag('faune/onfman') %>
      </div>
      <div class="faune-onf-picture-imformation">
        <p>Nom Prenom</p>
        <p><span class="green-color">Maître Chercheur</span></p>
      </div>
    </div>

    <div class="faune-onf-right">
      <p>L'<span class="green-color">ONF</span>, gardien de nos forêts, et notre <span class="green-color">Maître Chercheur</span> préservent ces écosystèmes vivants. Chaque arbre, chaque cri d'oiseau dans nos forêts témoigne de la préservation active grâce à l'ONF. Cependant, il semblerait que notre Maître Chercheur rencontre actuellement <span class="green-color">une situation inhabituelle</span> que vous découvrirez par la suite.</p>
      <%= image_tag 'faune/patte_ours', class:'patte-ours'; %>
    </div>
  </div>

  <div class="faune-panorama-container">

    <div class="faune-panorama-left">
      <p>En parcourant notre <span class="green-color">panorama virtuel</span>, vagabondez dans nos vastes plaines où les lapins s'ébattent joyeusement et les écureuils sautillent entre les arbres. Laissez-vous envoûter par l'émerveillement de la diversité de <span class="green-color">Merlimont</span>, où la magie de la nature vous attend à chaque coin de ce <span class="green-color">paradis préservé</span>.</p>
      <%= image_tag 'faune/pattesrenard', class:'patte-renard'; %>
    </div>

    <div class="faune-panorama-right">
      <div class="faune-panorama-right-img-container">
        <%= image_tag('faune/panorama') %>
      </div>
    </div>

  </div>

  <div class="faune-decouvrir-container" id="decouvrir">

    <div class="faune-decouvrir-title">
      <h2>Que voulez vous découvrir?</h2>
    </div>
    <div class="faune-decouvrir-jumelle-container">
        <%= image_tag('faune/jumelle') %>
        <div class="faune-decouvrir-jumelle-link">
          <%= link_to type_espece_categories_path(biotop_categorie: "Faune") , class:"faune-link-left", data: { turbo: false } do %>
          <% end %>
          <%= link_to type_espece_categories_path(biotop_categorie: "Flore") , class:"faune-link-right", data: { turbo: false } do %>
          <% end %>
        </div>
    </div>

  </div>

  <div class="faune-maitre-container">

    <div class="faune-maitre-title">
      <h2>La quête du <span class="green-color">Maitre Chercheur</span></h2>
    </div>

    <div class="faune-maitre-p-container">
      <div class="faune-maitre-all-p">
        <p>Chers jeunes explorateurs,</p>

        <p>Malheureusement, <span class="green-color">notre précieux maître chercheur est parti pour un long voyage</span> à la découverte des merveilles du monde ! Et devinez quoi ? <span class="green-color">Personne d'autre ne peut mettre à jour notre grand index</span> des découvertes. C'est lui seul qui connaît tous les secrets pour le faire briller de mille feux...</p>

        <p>Imaginez toutes les aventures qu'il vit en ce moment, explorant des terres lointaines et rencontrant des animaux exotiques. Mais pendant son absence, nos recherches sur <span class="green-color">les mystérieuses découvertes de Merlimont sont en suspens</span>.</p>

        <p>Mais voilà une lueur d'espoir : <span class="green-color">Vous</span> ! Oui, vous avez bien lu ! <span class="green-color">Si vous vous sentez prêts à relever le défi</span> et à découvrir le monde avec vos propres yeux de chercheurs, <span class="green-color">vous pouvez devenir un chercheur en herbe</span>. Vous pouvez ajouter vos propres découvertes, photos et textes pour enrichir notre index. Qui sait quelles incroyables aventures vous pourriez partager ?</p>

        <p>Alors, si vous êtes prêts à explorer, à vous émerveiller et à partager vos découvertes avec le monde, <span class="green-color">créez votre compte</span> de chercheur en herbe. La grande aventure de la recherche commence dès que vous franchissez cette porte virtuelle vers le monde des découvertes !</p>

        <p>À vos marques, prêts, <span class="green-color">partez à l'aventure</span> !</p>
      </div>
    </div>

    <div class="faune-maitre-compte-container">
      <div class="faune-maitre-compte-form-container">
        <div class="faune-maitre-compte-form">
          <% unless user_signed_in? %>
            <div class="faune-maitre-form-container">
              <div class="faune-maitre-form-title">
                <h2>Compte de Chercheur</h2>
              </div>

              <form action="" id="form" class="faune-flore-form">

                <div class="faune-flore-form-label-et-input">
                  <label for="user_nom">Nom de l'explorateur :</label>
                  <input type="nom" id="user_nom" name="user[nom]" required="required" autofocus="autofocus" autocomplete="nom">
                  <span id="nom-indicator" class="nom-validity"></span>
                </div>

                <div class="faune-flore-form-label-et-input">
                  <label for="user_prenom">Prenom de l'explorateur :</label>
                  <input type="prenom" id="user_prenom" name="user[prenom]" required="required" autofocus="autofocus" autocomplete="prenom">
                  <span id="prenom-indicator" class="prenom-validity"></span>
                </div>

                <div class="faune-flore-form-label-et-input">
                  <label for="user_email">Courrier e-mail de l'explorateur :</label>
                  <input type="email" id="user_email" name="user[email]" required="required" autofocus="autofocus" autocomplete="email" oninput="checkEmailValidity()">
                  <span id="email-indicator" class="email-validity"></span>
                </div>



                <div class="faune-flore-form-label-et-input">
                  <label for="user_password">Mot de passe secret de l'explorateur :</label>
                  <input type="password" id="user_password" name="user[password]" required="required" autocomplete="new-password" oninput="checkPasswordStrength(this)">
                  <span id="password-strength-indicator" class="password-strength"></span>
                </div>



                <div class="faune-flore-form-label-et-input">
                  <label for="user_password_confirmation">Confirmation du Mot de passe secret :</label>
                  <input type="password" id="user_password_confirmation" name="user[password_confirmation]" required="required" autocomplete="new-password" oninput="checkPasswordConfirmation()">
                  <span id="password-confirmation-indicator" class="password-strength"></span>
                </div>



                <div class="form-actions">
                  <input type="submit" value="C'est parti !">
                </div>
              </form>


            </div>
          <% end %>

          <div class="faune-maitre-compte-connecter-ajax">
            <p>Vous êtes connecter !</p>
            <%= image_tag('faune/validate') %>
            <%= link_to "Voir mon tableau de bord", moncompte_path %>
          </div>


          <% if user_signed_in? %>
            <div class="faune-maitre-compte-connecter">
              <p>Vous êtes connecter !</p>
              <%= image_tag('faune/validate') %>
              <%= link_to "Voir mon tableau de bord", moncompte_path %>
            </div>
          <% end %>

        </div>

      </div>

      <div class="faune-maitre-compte-lettre">
        <%= image_tag('faune/letter') %>
      </div>

    </div>


  </div>

</div>

<script>

function checkEmailValidity() {
  const emailInput = document.getElementById('user_email');
  const emailValidityIndicator = document.getElementById('email-indicator');

  const email = emailInput.value;

  if (isValidEmail(email)) {
    // E-mail valide
    emailInput.classList.add('email-valid');
    emailInput.classList.remove('email-invalid');
    emailValidityIndicator.textContent = 'Email Valide';
    emailValidityIndicator.classList.add('email-valid');
    emailValidityIndicator.classList.remove('email-invalid');
  } else {
    // E-mail invalide
    emailInput.classList.remove('email-valid');
    emailInput.classList.add('email-invalid');
    emailValidityIndicator.textContent = 'Email Invalide';
    emailValidityIndicator.classList.remove('email-valid');
    emailValidityIndicator.classList.add('email-invalid');
  }
}

function isValidEmail(email) {
  // Utilisez une expression régulière ou une autre logique de validation de l'e-mail ici
  // Dans cet exemple, une validation simple avec une expression régulière
  const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
  return emailRegex.test(email);
}


function checkPasswordStrength(passwordInput) {
  const password = passwordInput.value;
  const passwordStrengthIndicator = document.getElementById('password-strength-indicator');

  if (password.length < 8) {
    // Mot de passe faible (moins de 8 caractères)
    passwordInput.classList.add('password-weak');
    passwordInput.classList.remove('password-strong');
    passwordStrengthIndicator.textContent = 'Mot de passe trop Faible (min 8 caractères)';
    passwordStrengthIndicator.classList.add('password-weak');
    passwordStrengthIndicator.classList.remove('password-strong');
  } else {
    // Mot de passe fort (8 caractères ou plus)
    passwordInput.classList.remove('password-weak');
    passwordInput.classList.add('password-strong');
    passwordStrengthIndicator.textContent = 'Mot de passe Fort';
    passwordStrengthIndicator.classList.remove('password-weak');
    passwordStrengthIndicator.classList.add('password-strong');
  }
}

function checkPasswordConfirmation() {
  const passwordInput = document.getElementById('user_password');
  const confirmationInput = document.getElementById('user_password_confirmation');
  const confirmationStrengthIndicator = document.getElementById('password-confirmation-indicator');

  const password = passwordInput.value;
  const confirmation = confirmationInput.value;

  if (password.length > 0 && confirmation.length > 0) {
    if (password === confirmation) {
      // Mot de passe de confirmation correct
      confirmationInput.classList.remove('password-weak');
      confirmationInput.classList.add('password-strong');
      confirmationStrengthIndicator.textContent = 'Correspond';
      confirmationStrengthIndicator.classList.remove('password-weak');
      confirmationStrengthIndicator.classList.add('password-strong');
    } else {
      // Mot de passe de confirmation incorrect
      confirmationInput.classList.add('password-weak');
      confirmationInput.classList.remove('password-strong');
      confirmationStrengthIndicator.textContent = 'Ne correspond pas';
      confirmationStrengthIndicator.classList.add('password-weak');
      confirmationStrengthIndicator.classList.remove('password-strong');
    }
  } else {
    // L'un des champs est vide, réinitialiser les indicateurs
    confirmationInput.classList.remove('password-weak');
    confirmationInput.classList.remove('password-strong');
    confirmationStrengthIndicator.textContent = '';
  }
}
</script>
