<div class="faune-home-container">
  <div class="faune-main-div">

    <%= image_tag "faune/faune_main.jpg", class:"faune-main-background" %>

    <div class="faune-return-btn">
      <%= link_to root_path do %>
        <%= image_tag('home/MerlimontB.png') %>
      <% end %>
    </div>

    <div class="faune-main-text-container">
      <div class="faune-main-title">
        <h1>Faune &<br>Flore</h1>
      </div>

      <div class="faune-main-trait"></div>

      <div class="faune-main-subtitle">
        <p>Merlimont, joyau de la côte d'Opale,</p>
        <p>vous dévoile sa biodiversité riche et variée.</p>
      </div>
    </div>

    <div class="faune-main-three-pic-container">
      <div class="faune-main-three-pic-content">
        <div class="faune-main-pic-left">
        <%= image_tag('faune/flore_img_left') %>
        </div>
        <div class="faune-main-pic-center">
          <%= image_tag('faune/flore_img_center') %>
        </div>
        <div class="faune-main-pic-right">
          <%= image_tag('faune/flore_img_right') %>
        </div>
      </div>
    </div>
  </div>



  <div class="faune-onf-container">

    <div class="faune-onf-left">
      <div class="faune-onf-left-img-container">
        <%= image_tag('faune/onfman') %>
      </div>
      <div class="faune-onf-picture-imformation">
        <p>Nom Prenom</p>
        <p><span class="green-color">Maître Chercheur</span></p>
      </div>
    </div>

    <div class="faune-onf-right">
      <p>L'<span class="green-color">ONF</span>, gardien de nos forêts, et notre <span class="green-color">Maître Chercheur</span> préservent ces écosystèmes vivants. Chaque arbre, chaque cri d'oiseau dans nos forêts témoigne de la préservation active grâce à l'ONF. Cependant, il semblerait que notre Maître Chercheur rencontre actuellement <span class="green-color">une situation inhabituelle</span> que vous découvrirez par la suite.</p>
      <%= image_tag 'faune/patte_ours', class:'patte-ours'; %>
    </div>
  </div>

  <div class="faune-panorama-container">

    <div class="faune-panorama-left">
      <p>En parcourant notre <span class="green-color">panorama virtuel</span>, vagabondez dans nos vastes plaines où les lapins s'ébattent joyeusement et les écureuils sautillent entre les arbres. Laissez-vous envoûter par l'émerveillement de la diversité de <span class="green-color">Merlimont</span>, où la magie de la nature vous attend à chaque coin de ce <span class="green-color">paradis préservé</span>.</p>
      <%= image_tag 'faune/pattesrenard', class:'patte-renard'; %>
    </div>

    <div class="faune-panorama-right">
      <div class="faune-panorama-right-img-container">
        <%= image_tag('faune/panorama') %>
      </div>
    </div>

  </div>

  <div class="faune-decouvrir-container">

    <div class="faune-decouvrir-title">
      <h2>Que voulez vous découvrir?</h2>
    </div>
    <div class="faune-decouvrir-jumelle-container">
        <%= image_tag('faune/jumelle') %>
        <div class="faune-decouvrir-jumelle-link">
          <%= link_to merlimontdavant_path, class:"faune-link-left" do %>
          <% end %>
          <%= link_to about_path, class:"faune-link-right" do %>
          <% end %>
        </div>
    </div>

  </div>

  <div class="faune-maitre-container">

    <div class="faune-maitre-title">
      <h2>La quête du <span class="green-color">Maitre Chercheur</span></h2>
    </div>

    <div class="faune-maitre-p-container">
      <div class="faune-maitre-all-p">
        <p>Chers jeunes explorateurs,</p>

        <p>Malheureusement, <span class="green-color">notre précieux maître chercheur est parti pour un long voyage</span> à la découverte des merveilles du monde ! Et devinez quoi ? <span class="green-color">Personne d'autre ne peut mettre à jour notre grand index</span> des découvertes. C'est lui seul qui connaît tous les secrets pour le faire briller de mille feux...</p>

        <p>Imaginez toutes les aventures qu'il vit en ce moment, explorant des terres lointaines et rencontrant des animaux exotiques. Mais pendant son absence, nos recherches sur <span class="green-color">nos mystérieuses découvertes sont en suspens</span>.</p>

        <p>Mais voilà une lueur d'espoir : <span class="green-color">Vous</span> ! Oui, vous avez bien lu ! <span class="green-color">Si vous vous sentez prêts à relever le défi</span> et à découvrir le monde avec vos propres yeux de chercheurs, <span class="green-color">vous pouvez devenir un chercheur en herbe</span>. Vous pouvez ajouter vos propres découvertes, photos et textes pour enrichir notre index. Qui sait quelles incroyables aventures vous pourriez partager ?</p>

        <p>Alors, si vous êtes prêts à explorer, à vous émerveiller et à partager vos découvertes avec le monde, <span class="green-color">créez votre compte</span> de chercheur en herbe. La grande aventure de la recherche commence dès que vous franchissez cette porte virtuelle vers le monde des découvertes !</p>

        <p>À vos marques, prêts, <span class="green-color">partez à l'aventure</span> !</p>
      </div>
    </div>

    <div class="faune-maitre-compte-container">
      <div class="faune-maitre-form-container">
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false }) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :email, required: true, autofocus: true, input_html: { autocomplete: "email" } %>
            <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), input_html: { autocomplete: "new-password" } %>
            <%= f.input :password_confirmation, required: true, input_html: { autocomplete: "new-password" } %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Sign up" %>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>
      </div>
    </div>


  </div>



</div>
