<div class="galerie-container">

  <div class="galerie-background">
    <%= image_tag("galerie/galerie_background.jpg", alt: "fond d ecran") %>
  </div>

  <div class="faune-return-btn">
    <%= link_to root_path do %>
      <%= image_tag('home/MerlimontB.png') %>
    <% end %>
  </div>

  <div class="container-de-container-grid">
    <h1>Galerie de Merlimont</h1>
    <div class="container-grid">

      <% @galeries.each do |galerie| %>
        <div class="galerie-one-pic" onclick="openImagePopup('<%= galerie.photo.url %>')">
          <%= image_tag galerie.photo.url, alt: "Image de merlimont" %>
        </div>
      <% end %>

    </div>
  </div>
</div>

<div id="image-popup" class="image-popup">
  <img id="popup-image" src="" alt="Image en grand">
  <div class="span-container">
    <span class="close-btn" onclick="closeImagePopup()">&times;</span>
  </div>
</div>

<script>
  function openImagePopup(imageSrc) {
    var popup = document.getElementById('image-popup');
    var popupImage = document.getElementById('popup-image');

    popupImage.src = imageSrc;
    popup.style.display = 'flex';

    document.body.classList.add('modal-open');
  }

  function closeImagePopup() {
    var popup = document.getElementById('image-popup');
    popup.style.display = 'none';

    document.body.classList.remove('modal-open');
  }

</script>
