<div class="galerie-container">
  <h1>Vitrine de Merlimont</h1>
  <div class="container-de-container-grid">
    <div class="container-grid">

      <div class="galerie-one-pic">
        <%= image_tag("galerie/galerie1", alt: "Image de merlimont") %>
      </div>

      <div class="galerie-one-pic">
        <%= image_tag("galerie/galerie2", alt: "Image de merlimont") %>
      </div>

      <div class="galerie-one-pic">
        <%= image_tag("galerie/galerie3", alt: "Image de merlimont") %>
      </div>

      <div class="galerie-one-pic">
        <%= image_tag("galerie/galerie4", alt: "Image de merlimont") %>
      </div>

      <div class="galerie-one-pic">
        <%= image_tag("galerie/galerie5", alt: "Image de merlimont") %>
      </div>

      <div class="galerie-one-pic">
        <%= image_tag("galerie/galerie6", alt: "Image de merlimont") %>
      </div>

      <div class="galerie-one-pic">
        <%= image_tag("galerie/galerie8", alt: "Image de merlimont") %>
      </div>

      <div class="galerie-one-pic">
        <%= image_tag("galerie/galerie9", alt: "Image de merlimont") %>
      </div>

      <div class="galerie-one-pic">
        <%= image_tag("galerie/galerie10", alt: "Image de merlimont") %>
      </div>

      <div class="galerie-one-pic">
        <%= image_tag("galerie/galerie11", alt: "Image de merlimont") %>
      </div>

      <div class="galerie-one-pic">
        <%= image_tag("galerie/galerie12", alt: "Image de merlimont") %>
      </div>

      <div class="galerie-one-pic">
        <%= image_tag("galerie/galerie13", alt: "Image de merlimont") %>
      </div>

      <div class="galerie-one-pic">
        <%= image_tag("galerie/galerie14", alt: "Image de merlimont") %>
      </div>

      <div class="galerie-one-pic">
        <%= image_tag("galerie/galerie15", alt: "Image de merlimont") %>
      </div>

      <div class="galerie-one-pic">
        <%= image_tag("galerie/galerie16", alt: "Image de merlimont") %>
      </div>

      <div class="galerie-one-pic">
        <%= image_tag("galerie/galerie17", alt: "Image de merlimont") %>
      </div>

      <div class="galerie-one-pic">
        <%= image_tag("galerie/galerie18", alt: "Image de merlimont") %>
      </div>


    </div>
  </div>
</div>
