<!-- div video -->
<div class="hero-video">

  <div class="home-fondu-haut"></div>

  <div class="home-nav">
    <div class="home-nav-left">
      <%= link_to "Merlimont", "#" %>
    </div>
    <div class="home-nav-right">
      <%= link_to "Galerie", "#" %>
      <%= link_to "Webcam", "#" %>
      <%= link_to "Faune & Flore", "#" %>
      <%= link_to "Il etait une fois", "#" %>
      <%= link_to "A propos", "#" %>
    </div>

  </div>

  <div class="avion">
    <%= image_tag('fly.png') %>
  </div>



  <%= video_tag "mainvideo.mp4", type: "video/mp4", autoplay: true, loop: true, muted: true, id: "home-videoo", preload: "auto", playsinline: true %>

  <!-- <div class="home-fondu-bas"></div> -->

  <div class="home-dunes">
    <%= image_tag('home_dunes.svg') %>
  </div>

</div>



<!-- div presentation -->

<div class="home-presentation-div">

  <div class="home-traces">
    <%= image_tag('home_trace.svg') %>
  </div>

  <div class="home-presentation-title-and-title-shadow">

    <div class="home-presentation-title-shadow">
      <h1>Merlimont</h1>
    </div>

    <div class="home-presentation-title">
      <h1>Merlimont</h1>
    </div>

  </div>


  <div class="home-presentation-text-picture">

    <div class="home-presentation-text">
      <p>Nichée entre dunes sauvages et plages de sable fin, Merlimont est une destination côtière idyllique où le charme authentique de la côte française rencontre la tranquillité et la beauté naturelle. </p>
      <div class="home-presentation-trace-trait">
        <%= image_tag('home_trace_trait.svg') %>
      </div>
    </div>

    <div class="home-presentation-photo">
      <%= image_tag('home_coeur.svg') %>
    </div>

  </div>

  <script>

    const elementTraceHome = document.querySelector('.home-traces');
    const hauteurDesTracesHome = elementTraceHome.offsetHeight; // hauteur des traces

    const elementPresentationTitle = document.querySelector('.home-presentation-title');
    elementPresentationTitle.style.paddingTop = hauteurDesTracesHome + 'px';

    const homePresentationTitleShadow = document.querySelector('.home-presentation-title-shadow');
    homePresentationTitleShadow.style.paddingTop = hauteurDesTracesHome - 50 + 'px';



  </script>
</div>

<!-- activites -->

<div class="home-activites-div">

  <div class="home-activites-trait-anti-bug">
  </div>

  <div class="home-activites-vague-haut">
    <%= image_tag('home_vague_haut.svg') %>
  </div>

    <div class="home-activites-title-and-title-shadow">

    <div class="home-activites-title-shadow">
      <h1>Activités</h1>
    </div>

    <div class="home-activites-title">
      <h1>Activités</h1>
    </div>

  </div>

  <script>

    const elementTraceHome = document.querySelector('.home-traces');
    const hauteurDesTracesHome = elementTraceHome.offsetHeight; // hauteur des traces

    const elementPresentationTitle = document.querySelector('.home-presentation-title');
    elementPresentationTitle.style.paddingTop = hauteurDesTracesHome + 'px';

    const homePresentationTitleShadow = document.querySelector('.home-presentation-title-shadow');
    homePresentationTitleShadow.style.paddingTop = hauteurDesTracesHome - 50 + 'px';

  </script>

</div>

<div class="home-logements-div">

    <div class="home-logements-trait-anti-bug">
    </div>

    <div class="home-logement-vague-haut">
      <%= image_tag('activites_vague_bas.svg') %>
    </div>

</div>
