<script>
  // document.addEventListener("DOMContentLoaded", function() {
  //   // presentation
  //   const elementTraceHome = document.querySelector('.home-traces');
  //   const hauteurDesTracesHome = elementTraceHome.offsetHeight; // hauteur des traces
  //   console.log("presentation " + hauteurDesTracesHome);

  //   const elementPresentationTitle = document.querySelector('.home-presentation-title');
  //   elementPresentationTitle.style.paddingTop = hauteurDesTracesHome + 'px';

  //   const homePresentationTitleShadow = document.querySelector('.home-presentation-title-shadow');
  //   homePresentationTitleShadow.style.paddingTop = hauteurDesTracesHome - 50 + 'px';


  //   // activites
  //   // Sélection de l'élément ".home-activites-vague-haut" pour obtenir sa hauteur
  //   const vagueActivitesTop = document.querySelector('.home-activites-vague-haut img');
  //   const vagueActivitesTopHeight = vagueActivitesTop.offsetHeight * 2;
  //   console.log("activites " + vagueActivitesTopHeight);
  //   // Sélection de l'élément ".home-activites-title" et modification du style paddingTop
  //   const activitesTitle = document.querySelector('.home-activites-title');
  //   activitesTitle.style.paddingTop = vagueActivitesTopHeight + 'px';

  //   // Sélection de l'élément ".home-activites-title-shadow" et modification du style paddingTop
  //   const homeActivitesTitleShadow = document.querySelector('.home-activites-title-shadow');
  //   homeActivitesTitleShadow.style.paddingTop = (vagueActivitesTopHeight - 50) + 'px';


  //   // logement
  //   const vagueLogementTop = document.querySelector('.home-logement-vague-haut img');
  //   const vagueLogementTopHeight = vagueLogementTop.offsetHeight * 2;
  //   console.log("logement " + vagueLogementTopHeight);

  //   const logementTitle = document.querySelector('.home-logement-title');
  //   logementTitle.style.paddingTop = vagueLogementTopHeight + 'px';

  //   const homeLogementTitleShadow = document.querySelector('.home-logement-title-shadow');
  //   homeLogementTitleShadow.style.paddingTop = (vagueLogementTopHeight - 50) + 'px';

  // });
</script>



<!-- ================== div video ===================== -->

<div class="hero-video">

  <div class="home-fondu-haut"></div>

  <div class="home-nav">
    <div class="home-nav-left">
      <%= link_to "Merlimont", "#" %>
    </div>
    <div class="home-nav-right">
      <%= link_to "Galerie", "#" %>
      <%= link_to "Webcam", "https://www.viewsurf.com/univers/surf/vue/16762-france-nord-pas-de-calais-merlimont-live", target: "_blank" %>
      <%= link_to "Faune & Flore", "#" %>
      <%= link_to "Il etait une fois", merlimontdavant_path %>
      <%= link_to "A propos", about_path %>
    </div>

  </div>

  <div class="avion">
    <%= image_tag('aviond.png') %>
  </div>

  <div class="home-video-circle-container">
    <div class="home-video-circle">
      <div class="kite">
        <%= image_tag('kite.png') %>
      </div>
    </div>
  </div>



  <%= video_tag "mainvideo.mp4", type: "video/mp4", autoplay: true, loop: true, muted: true, id: "home-videoo", preload: "auto", playsinline: true %>

  <!-- <div class="home-fondu-bas"></div> -->

  <div class="home-dunes">
    <%= image_tag('home_dunes.svg') %>
  </div>

  <div class="home-bas-dunes">
    <div class="home-petite-trace-container">
      <%= image_tag('home_petite_trace.svg') %>
    </div>
  </div>

</div>



<!-- ================== div presentation ===================== -->


<div class="home-presentation-div">

  <div class="home-traces">
    <%= image_tag('home_trace.svg') %>
  </div>

  <div class="home-presentation-title-and-title-shadow">

    <div class="home-presentation-title-shadow">
      <div class="home-presentation-parasol-container">
        <h1>Merlimont</h1>
        <div class="home-presentation-parasol">
          <p>⛱️</p>
        </div>
      </div>
    </div>

    <div class="home-presentation-title">
      <h1>Merlimont</h1>
    </div>
  </div>

  <div class="home-presentation-text-picture">

    <div class="home-presentation-text">
      <p>Nichée entre dunes sauvages et plages de sable fin, Merlimont est une destination côtière idyllique où le charme authentique de la côte française rencontre la tranquillité et la beauté naturelle. </p>
      <div class="home-presentation-trace-trait">
        <%= image_tag('home_trace_trait.svg') %>
      </div>
    </div>

    <div class="home-presentation-photo">
      <%= image_tag('home_coeur.svg') %>
    </div>

  </div>
</div>




<!-- ================== div activites ===================== -->


<div class="home-activites-div">

  <div class="home-activites-trait-anti-bug">
  </div>

  <div class="home-activites-vague-haut">
    <%= image_tag('home_vague_haut.svg') %>
  </div>

  <div class="home-activites-swim">
    <p>🤽‍♂️</p>
  </div>

  <div class="home-activites-surf">
    <p>🏄</p>
  </div>

  <div class="home-activites-title-and-title-shadow">

    <div class="home-activites-title-shadow">
      <h1>Activités</h1>
    </div>

    <div class="home-activites-title">
      <h1>Activités</h1>
    </div>

  </div>

  <div class="home-activites-top-five">

    <div class="home-activites-top-five-little">
      <%= image_tag('activites/activite_une.jpg') %>
    </div>

    <div class="home-activites-top-five-medium">
      <%= image_tag('activites/activite_deux.jpg') %>
    </div>

    <div class="home-activites-top-five-large">
      <%= image_tag('activites/activite_trois.jpg') %>
    </div>

    <div class="home-activites-top-five-medium">
      <%= image_tag('activites/activite_quatre.jpg') %>
    </div>

    <div class="home-activites-top-five-little">
      <%= image_tag('activites/activite_cinq.png') %>
    </div>

  </div>

    <div class="home-activites-button">
      <div class="home-activites-button-img-container">
        <%= image_tag('boue_button.svg') %>
      </div>
    </div>

</div>




<!-- ================== div logements ===================== -->


<div class="home-logements-div">

  <div class="home-emplacement-para">
    <p>🪂</p>
  </div>

  <div class="home-emplacement-chateau">
    <%= image_tag('logements/chateau.svg') %>
  </div>

  <div class="home-logements-trait-anti-bug">
  </div>

  <div class="home-logement-vague-haut">
    <%= image_tag('activites_vague_bas.svg') %>
  </div>

  <div class="home-logement-title-and-title-shadow">
    <div class="home-logement-title-shadow">
      <h1>Nos logements</h1>
    </div>

    <div class="home-logement-title">
      <h1>Nos logements</h1>
    </div>
  </div>

  <div class="home-logement-categories-container">

    <div class="home-logement-categories-owner">
      <div class="home-logement-categories-owner-title">Camping</div>
      <div class="home-logement-categories-owner-picture">
        <%= image_tag('logements/camping.jpg') %>
      </div>
    </div>

    <div class="home-logement-categories-owner">
      <div class="home-logement-categories-owner-title">Location</div>
      <div class="home-logement-categories-owner-picture">
        <%= image_tag('logements/location.jpg') %>
      </div>
    </div>

    <div class="home-logement-categories-owner">
      <div class="home-logement-categories-owner-title">Chambre d’hôte</div>
      <div class="home-logement-categories-owner-picture">
        <%= image_tag('logements/hote.jpg') %>
      </div>
    </div>

    <div class="home-logement-categories-owner">
      <div class="home-logement-categories-owner-title">Camping-car</div>
      <div class="home-logement-categories-owner-picture">
        <%= image_tag('logements/car.jpg') %>
      </div>
    </div>

  </div>

</div>

<!-- ================== div vague au dessus de emplacement ===================== -->

<div class="vague-emplacement-top">
  <%= image_tag('emplacement_vague.svg') %>

  <div class="home-emplacement-surfer">
    <p>🏄</p>
  </div>
</div>



<!-- ================== div emplacements ===================== -->

<div class="home-emplacement-div">

  <div class="home-emplacement-title-and-title-shadow">
    <div class="home-emplacement-title-shadow">
      <h1>Emplacements</h1>
    </div>

    <div class="home-emplacement-title">
      <h1>Emplacements</h1>
    </div>
  </div>

  <div class="home-emplacement-map">
    <%= image_tag('emplacements/emplacement_map.png') %>
  </div>

  <div class="home-emplacement-btn">
    <%= link_to "Voir tout les commerces", "#" %>
  </div>

  <div class="home-emplacement-bulle">
    <%= image_tag('emplacements/bulle.svg') %>
  </div>

  <div class="home-emplacement-algues">
    <%= image_tag('emplacements/algues.svg') %>
  </div>

  <div class="home-emplacement-boat">
    <p>⛵️</p>
  </div>

</div>



<!-- ================== footer ===================== -->

<div class="footer">
    <p>© copyright aucun droit rérvé | Une production Anonymous1 & Anonymous2</p>
    <p>Just for the love &lt;3</p>
</div>
