
<div class="old-main-div">

  <%= image_tag "avant/oldmain.jpg", class:"old-main-background" %>

  <div class="old-return-btn">
    <%= link_to root_path do %>
      <%= image_tag('home/MerlimontB.png') %>
    <% end %>
  </div>

  <div class="old-main-title">
    <h1>Il était une fois à Merlimont...</h1>
  </div>

</div>

<div class="old-text-container">
  <p>Au cours des dernières décennies, la petite commune de Merlimont a vu son visage évoluer d'une manière tout à fait remarquable.
  <br><br>Empreinte des souvenirs et des histoires d'antan...</p>
</div>

<div class="old-text-et-photo">

  <div class="old-sticky-bas-droite-container">
    <div class="old-sticky-bas-droite">
      <%= image_tag('avant/dirtd.png') %>
    </div>
  </div>

  <div class="old-sticky-haut-gauche-container">
    <div class="old-sticky-haut-gauche">
      <%= image_tag('avant/caffe.png') %>
    </div>
  </div>


  <div class="old-picture-div">

    <div class="les-futur-photo">

      <div class="image-type-one-container">
        <div class="image-type-one">
          <%= image_tag('avant/typeone.jpg') %>
        </div>
      </div>

      <div class="image-type-two-container">
        <div class="image-type-two">
          <%= image_tag('avant/typetwo.jpg') %>
        </div>
      </div>

      <div class="image-type-one-container">
        <div class="image-type-one">
          <%= image_tag('avant/typeone.jpg') %>
        </div>
      </div>

      <div class="image-type-two-container">
        <div class="image-type-two">
          <%= image_tag('avant/typetwo.jpg') %>
        </div>
      </div>

      <div class="image-type-one-container">
        <div class="image-type-one">
          <%= image_tag('avant/typeone.jpg') %>
        </div>
      </div>

      <div class="image-type-two-container">
        <div class="image-type-two">
          <%= image_tag('avant/typetwo.jpg') %>
        </div>
      </div>

      <div class="image-type-one-container">
        <div class="image-type-one">
          <%= image_tag('avant/typeone.jpg') %>
        </div>
      </div>

      <div class="image-type-two-container">
        <div class="image-type-two">
          <%= image_tag('avant/typetwo.jpg') %>
        </div>
      </div>

      <div class="image-type-one-container">
        <div class="image-type-one">
          <%= image_tag('avant/typeone.jpg') %>
        </div>
      </div>

      <div class="image-type-two-container">
        <div class="image-type-two">
          <%= image_tag('avant/typetwo.jpg') %>
        </div>
      </div>

    </div>

  </div>

  <div class="old-text-container">
    <p>Depuis le milieu du 19e siècle, l'atmosphère bucolique et paisible qui régnait sur ses terres agricoles s'est peu à peu transformée.
    <br><br>Les champs verdoyants qui s'étendaient à perte de vue ont cédé la place à de nouvelles habitations et infrastructures, témoignant du changement de mode de vie et de la croissance de la population.</p>
  </div>

  <div class="old-picture-div">

    <div class="old-sticky-haut-gauche-container">
      <div class="old-sticky-haut-gauche"></div>
    </div>

    <div class="old-sticky-bas-droite-container">
      <div class="old-sticky-bas-droite"></div>
    </div>

    <div class="les-futur-photo">

      <div class="image-type-one-container">
        <div class="image-type-one">
          <%= image_tag('avant/typeone.jpg') %>
        </div>
      </div>

      <div class="image-type-two-container">
        <div class="image-type-two">
          <%= image_tag('avant/typetwo.jpg') %>
        </div>
      </div>

      <div class="image-type-one-container">
        <div class="image-type-one">
          <%= image_tag('avant/typeone.jpg') %>
        </div>
      </div>

      <div class="image-type-two-container">
        <div class="image-type-two">
          <%= image_tag('avant/typetwo.jpg') %>
        </div>
      </div>

      <div class="image-type-one-container">
        <div class="image-type-one">
          <%= image_tag('avant/typeone.jpg') %>
        </div>
      </div>

      <div class="image-type-two-container">
        <div class="image-type-two">
          <%= image_tag('avant/typetwo.jpg') %>
        </div>
      </div>

      <div class="image-type-one-container">
        <div class="image-type-one">
          <%= image_tag('avant/typeone.jpg') %>
        </div>
      </div>

      <div class="image-type-two-container">
        <div class="image-type-two">
          <%= image_tag('avant/typetwo.jpg') %>
        </div>
      </div>

      <div class="image-type-one-container">
        <div class="image-type-one">
          <%= image_tag('avant/typeone.jpg') %>
        </div>
      </div>

      <div class="image-type-two-container">
        <div class="image-type-two">
          <%= image_tag('avant/typetwo.jpg') %>
        </div>
      </div>

    </div>

  </div>

  <div class="old-text-container">
    <p>Dans cette période, l'essor du tourisme balnéaire sur la côte a apporté un vent nouveau à Merlimont.
    <br><br>Les plages immaculées ont commencé à attirer des visiteurs en quête de calme et de sérénité, transformant progressivement le village en une destination estivale prisée.</p>
  </div>

  <div class="old-picture-div">

    <div class="old-sticky-haut-gauche-container">
      <div class="old-sticky-haut-gauche"></div>
    </div>

    <div class="old-sticky-bas-droite-container">
      <div class="old-sticky-bas-droite"></div>
    </div>

    <div class="les-futur-photo">

      <div class="image-type-one-container">
        <div class="image-type-one">
          <%= image_tag('avant/typeone.jpg') %>
        </div>
      </div>

      <div class="image-type-two-container">
        <div class="image-type-two">
          <%= image_tag('avant/typetwo.jpg') %>
        </div>
      </div>

      <div class="image-type-one-container">
        <div class="image-type-one">
          <%= image_tag('avant/typeone.jpg') %>
        </div>
      </div>

      <div class="image-type-two-container">
        <div class="image-type-two">
          <%= image_tag('avant/typetwo.jpg') %>
        </div>
      </div>

      <div class="image-type-one-container">
        <div class="image-type-one">
          <%= image_tag('avant/typeone.jpg') %>
        </div>
      </div>

      <div class="image-type-two-container">
        <div class="image-type-two">
          <%= image_tag('avant/typetwo.jpg') %>
        </div>
      </div>

      <div class="image-type-one-container">
        <div class="image-type-one">
          <%= image_tag('avant/typeone.jpg') %>
        </div>
      </div>

      <div class="image-type-two-container">
        <div class="image-type-two">
          <%= image_tag('avant/typetwo.jpg') %>
        </div>
      </div>

      <div class="image-type-one-container">
        <div class="image-type-one">
          <%= image_tag('avant/typeone.jpg') %>
        </div>
      </div>

      <div class="image-type-two-container">
        <div class="image-type-two">
          <%= image_tag('avant/typetwo.jpg') %>
        </div>
      </div>

    </div>

  </div>

  <div class="old-text-container">
    <p>Les routes autrefois tranquilles ont été aménagées pour accueillir un flux croissant de visiteurs et de résidents.
    <br><br>Les maisons traditionnelles ont été rejointes par de nouvelles constructions, chacune racontant à sa manière l'histoire de l'évolution de la commune.</p>
  </div>

  <div class="old-picture-div">

    <div class="old-sticky-haut-gauche-container">
      <div class="old-sticky-haut-gauche"></div>
    </div>

    <div class="old-sticky-bas-droite-container">
      <div class="old-sticky-bas-droite"></div>
    </div>

    <div class="les-futur-photo">

      <div class="image-type-one-container">
        <div class="image-type-one">
          <%= image_tag('avant/typeone.jpg') %>
        </div>
      </div>

      <div class="image-type-two-container">
        <div class="image-type-two">
          <%= image_tag('avant/typetwo.jpg') %>
        </div>
      </div>

      <div class="image-type-one-container">
        <div class="image-type-one">
          <%= image_tag('avant/typeone.jpg') %>
        </div>
      </div>

      <div class="image-type-two-container">
        <div class="image-type-two">
          <%= image_tag('avant/typetwo.jpg') %>
        </div>
      </div>

      <div class="image-type-one-container">
        <div class="image-type-one">
          <%= image_tag('avant/typeone.jpg') %>
        </div>
      </div>

      <div class="image-type-two-container">
        <div class="image-type-two">
          <%= image_tag('avant/typetwo.jpg') %>
        </div>
      </div>

      <div class="image-type-one-container">
        <div class="image-type-one">
          <%= image_tag('avant/typeone.jpg') %>
        </div>
      </div>

      <div class="image-type-two-container">
        <div class="image-type-two">
          <%= image_tag('avant/typetwo.jpg') %>
        </div>
      </div>

      <div class="image-type-one-container">
        <div class="image-type-one">
          <%= image_tag('avant/typeone.jpg') %>
        </div>
      </div>

      <div class="image-type-two-container">
        <div class="image-type-two">
          <%= image_tag('avant/typetwo.jpg') %>
        </div>
      </div>

    </div>

  </div>

  <div class="old-text-container">
    <p>L'économie locale a connu un changement significatif.
    <br><br>Si autrefois l'agriculture était le pilier principal de la vie à Merlimont, le tourisme a graduellement pris une place prépondérante, offrant de nouvelles opportunités économiques et façonnant la vie quotidienne des habitants.</p>
  </div>

  <div class="old-picture-div">

    <div class="old-sticky-haut-gauche-container">
      <div class="old-sticky-haut-gauche"></div>
    </div>

    <div class="old-sticky-bas-droite-container">
      <div class="old-sticky-bas-droite"></div>
    </div>

    <div class="les-futur-photo">

      <div class="image-type-one-container">
        <div class="image-type-one">
          <%= image_tag('avant/typeone.jpg') %>
        </div>
      </div>

      <div class="image-type-two-container">
        <div class="image-type-two">
          <%= image_tag('avant/typetwo.jpg') %>
        </div>
      </div>

      <div class="image-type-one-container">
        <div class="image-type-one">
          <%= image_tag('avant/typeone.jpg') %>
        </div>
      </div>

      <div class="image-type-two-container">
        <div class="image-type-two">
          <%= image_tag('avant/typetwo.jpg') %>
        </div>
      </div>

      <div class="image-type-one-container">
        <div class="image-type-one">
          <%= image_tag('avant/typeone.jpg') %>
        </div>
      </div>

      <div class="image-type-two-container">
        <div class="image-type-two">
          <%= image_tag('avant/typetwo.jpg') %>
        </div>
      </div>

      <div class="image-type-one-container">
        <div class="image-type-one">
          <%= image_tag('avant/typeone.jpg') %>
        </div>
      </div>

      <div class="image-type-two-container">
        <div class="image-type-two">
          <%= image_tag('avant/typetwo.jpg') %>
        </div>
      </div>

      <div class="image-type-one-container">
        <div class="image-type-one">
          <%= image_tag('avant/typeone.jpg') %>
        </div>
      </div>

      <div class="image-type-two-container">
        <div class="image-type-two">
          <%= image_tag('avant/typetwo.jpg') %>
        </div>
      </div>

    </div>

  </div>

  <div class="old-text-container">
    <p>Malgré ces changements, Merlimont a su préserver son charme et son identité.
    <br><br>Les événements historiques ont laissé leur empreinte sur la commune, tout comme les récits et les légendes transmis de génération en génération.
    <br><br>Aujourd'hui, entre le clapotis des vagues sur la plage et les rues animées par les habitants et les touristes, on ressent encore l'esprit de cette époque révolue.
    <br><br>L'histoire riche et les souvenirs anciens se mêlent harmonieusement à la vie moderne, formant le tissu même de l'âme de Merlimont.</p>
  </div>
</div>
