<div class="moncompte-container">
  <%= link_to "< Retour", request.referer.presence || fauneflore_path, class: "moncompte-retour-btn" %>

  <div class="moncompte-content">

    <div class="moncompte-title">
      <h1>Mon Compte de Chercheur</h1>

      <% if @user && @user.admin? %>
        <p><%= @user.email %> <span class="user-status">|| Administrateur</span></p>
      <% else %>
        <p class="user-status">vous êtes claque</p>
      <% end %>

    </div>

      <div class="moncompte-ajout-faune">
        <%= link_to "Ajouter une découverte en Flore", new_faune_path %>
      </div>


    <div class="moncompte-all-faune-container">
      <h2>Mes recherches en faune</h2>


        <% if @user_recherche.present? %>
          <div class="userdash-all-faune-grid">
            <% @user_recherche.each do |animal| %>

                <%= link_to faune_path(animal), class: "userdash-one-activitie" do %>
                  <div class="user-dash-one-pic-name">
                    <% if animal.photo.attached? %>
                      <%= image_tag animal.photo, class: "userdash-activitie-img" %>
                    <% else %>
                      <p>sans image</p>
                    <% end %>
                    <div class="user-dash-name">
                    <p><%= animal.nom %></p>
                    </div>
                  </div>
                <% end %>
            <% end %>
            </div>

        <% else %>
          <p>Vous n'avez publié aucune recherche</p>
        <% end %>

    </div>


  </div>
</div>
