<div class="moncompte-container">
  <div class="moncompte-content">

    <div class="moncompte-title">
      <h1>moncompte</h1>
      <p><%= @user.email %></p>
    </div>

    <div class="moncompte-ajout">
      <%= link_to "ajouter une nouvelle recherche", new_faune_path %>
    </div>

    <div class="moncompte-liste">
      <h2>mes recherches en faune</h2>

        <div class="userdash-all-faune">
          <% @user_recherche.each do |animal| %>

            <div class="userdash-one-activitie">
              <%= animal.nom %>
              <p><%= animal.description %></p>
              <% if animal.photo.attached? %>
                <p>Avec image</p>
              <% else %>
                <p>sans image</p>
              <% end %>
              <%= link_to "voir l animal", faune_path(animal) %>
            </div>

          <% end %>
        </div>

  </div>
</div>
