<div class="moncompte-container">
  <%= link_to "< Retour", fauneflore_path, class: "moncompte-retour-btn" %>

  <div class="moncompte-content">

    <div class="moncompte-title">
      <h1>Mon Compte</h1>
      <%= link_to "Déconnexion", destroy_user_session_path, method: :delete, data: {turbo_method: :delete} %>
    </div>

    <div class="moncompte-all-user-info-container">

      <div class="moncompte-all-user-info">

        <%= link_to edit_user_registration_path do  %>
          <div class="moncompte-user-picture">
            <% if current_user.photo.attached? %>
              <%= image_tag current_user.photo.url %>
            <% else %>
              <%= image_tag "default_user_photo.png", alt: "Default User Photo" %>
            <% end %>
          </div>
        <% end %>


        <div class="moncompte-user-info">
          <% if @user && @user.admin? %>
          <div><%= @user.last_name %> <%= @user.first_name %></div>
          <div><span class="user-status">Administrateur</span></div>
          <% else %>
          <div><%= @user.last_name %> <%= @user.first_name %></div>
          <div><span class="user-status">Jeune pousse</span></div>
          <% end %>
        </div>

      </div>
    </div>



    <div class="moncompte-all-faune-container">

      <div class="moncompte-mes-recherches">
        <h2>Mes recherches <span class="user-recherche-count"> ( <%= @user_recherche.count %> )</span></h2>

        <div class="moncompte-ajout-faune">
          <%= link_to "Ajouter une découverte", new_espece_path %>
        </div>
      </div>


      <% if @user_recherche.present? %>
        <div class="card-espece-all-faune-grid">
          <% @user_recherche.each do |animal| %>

              <%= link_to espece_path(animal) do %>
                <div class="card-espece-one-pic-name">
                  <% if animal.photo.attached? %>
                    <%= image_tag animal.photo, class: "card-espece-img" %>
                  <% else %>
                    <p>sans image</p>
                  <% end %>
                  <div class="card-espece-name">
                    <p><%= animal.nom %></p>
                  </div>
                </div>
              <% end %>
          <% end %>
          </div>

      <% else %>
        <div class="moncompte-aucune-recherche">
          <p>Vous n'avez publié aucune recherche pour le moment !</p>
          <p>Ajouter une découvrete pour en faire profiter tout nos utilisateurs ! &lt;3 </p>
        </div>
      <% end %>

    </div>


  </div>

  <% if @user_recherche.present? %>
    <div class="biotop-herbe">
      <div class="biotop-herbe-espece">
        <%= image_tag('faune/hauteherbe.png') %>
      </div>
    </div>
  <% else %>
    <div class="biotop-herbe-espece">
      <%= image_tag('faune/hauteherbe.png') %>
    </div>
  <% end %>

</div>
