<div class="moncompte-container">
  <%= link_to "< Retour", fauneflore_path, class: "moncompte-retour-btn" %>

  <div class="moncompte-content">

    <div class="moncompte-title">
      <h1>Mon Compte de Chercheur</h1>
      <% if @user && @user.admin? %>
        <p><%= @user.email %> <span class="user-status">|| Administrateur</span></p>
      <% else %>
        <p class="user-status">Jeune Chercheur</p>
      <% end %>
    </div>




    <div class="moncompte-all-faune-container">
      <h2>Mes comptes rendus de recherches <span class="user-recherche-count"> ( <%= @user_recherche.count %> )</span></h2>

      <div class="moncompte-ajout-faune">
        <%= link_to "Ajouter une découverte", new_espece_path %>
      </div>


      <% if @user_recherche.present? %>
        <div class="card-espece-all-faune-grid">
          <% @user_recherche.each do |animal| %>

              <%= link_to espece_path(animal) do %>
                <div class="card-espece-one-pic-name">
                  <% if animal.photo.attached? %>
                    <%= image_tag animal.photo, class: "card-espece-img" %>
                  <% else %>
                    <p>sans image</p>
                  <% end %>
                  <div class="card-espece-name">
                    <p><%= animal.nom %></p>
                  </div>
                </div>
              <% end %>
          <% end %>
          </div>

      <% else %>
        <p>Vous n'avez publié aucune recherche</p>
      <% end %>

    </div>


  </div>

  <div class="biotop-herbe">
    <div class="biotop-herbe-espece">
      <%= image_tag('faune/hauteherbe.png') %>
    </div>
  </div>

</div>
