<div class="moncompte-container">
  <%= link_to "< Retour", fauneflore_path, class: "moncompte-retour-btn" %>

  <div class="moncompte-content">

    <div class="moncompte-title">
      <h1>Mon Compte de Chercheur</h1>

      <% if @user && @user.admin? %>
        <p><%= @user.email %> <span class="user-status">|| Administrateur</span></p>
        <br>
        <p>--les biotops--</p>
        <% @biotop.each do |x| %>
          <p><%= x.categorie %></p>
          <p><%= x.user.email %></p>

        <% end %>
        <br>
        <br>
        <br>
        <br>
        <p>--les typesEspeceCategorie--</p>
        <% @typeEspeceCategories.each do |x| %>
          <br>
          <p><%= x.categorie %></p>
          <% if x.biotop.present? %>
            <p><%= x.biotop.categorie %></p>
            <p><%= x.user.email %></p>
          <% else %>
            <p>Biotope non disponible</p>
          <% end %>
          <br>
        <% end %>
        <br>
        <p>--les EspeceCategorie--</p>
        <% @especeCategories.each do |x| %>
          <br>
          <p><%= x.categorie %></p>
          <p><%= x.type_espece_categorie.categorie %></p>
          <p><%= x.type_espece_categorie.biotop.categorie %></p>
          <br>
        <% end %>
        <br>
        <p>--les EspeceCategorie--</p>
        <% @especes.each do |x| %>
          <br>
          <p><%= x.nom %></p>
          <p><%= x.description %></p>
          <p><%= x.espece_categorie.categorie %></p>
          <p><%= x.espece_categorie.type_espece_categorie.categorie %></p>
          <p><%= x.espece_categorie.type_espece_categorie.biotop.categorie %></p>
          <br>
        <% end %>



      <% else %>
        <p class="user-status">vous êtes claque</p>
      <% end %>

    </div>




    <div class="moncompte-all-faune-container">
      <h2>Mes recherches en faune <span class="user-recherche-count"> ( <%= @user_recherche.count %> )</span></h2>

      <div class="moncompte-ajout-faune">
        <%= link_to "Ajouter une découverte en Flore", new_faune_path %>
      </div>


      <% if @user_recherche.present? %>
        <div class="userdash-all-faune-grid">
          <% @user_recherche.each do |animal| %>

              <%= link_to faune_path(animal) do %>
                <div class="user-dash-one-pic-name">
                  <% if animal.photo.attached? %>
                    <%= image_tag animal.photo, class: "userdash-activitie-img" %>
                  <% else %>
                    <p>sans image</p>
                  <% end %>
                  <div class="user-dash-name">
                    <p><%= animal.nom %></p>
                  </div>
                </div>
              <% end %>
          <% end %>
          </div>

      <% else %>
        <p>Vous n'avez publié aucune recherche</p>
      <% end %>

    </div>


  </div>

  <div class="faunecat-herbe">
    <%= image_tag('faune/hauteherbe.png') %>
  </div>

</div>
