
<div class="testcontainer">
  <a href="https://www.mythrillfiction.com/the-dark-rider" alt="Mythrill" target="_blank">
    <div class="cardtest">
      <div class="wrapper">
        <%= image_tag('activites/mobilehomes.jpg', class: 'cover-image') %>
      </div>
      <%= image_tag('logements/campingtext.png', class: 'title') %>
      <%= image_tag('activites/tente1.png', class: 'character') %>

    </div>
  </a>

  <a href="https://www.mythrillfiction.com/force-mage" alt="Mythrill" target="_blank">
    <div class="cardtest">
      <div class="wrapper">
        <%= image_tag('logements/location1.jpg', class: 'cover-image') %>
      </div>
      <%= image_tag('logements/locationtext.png', class: 'title') %>
      <%= image_tag('logements/location.png', class: 'character') %>
    </div>
  </a>

  <a href="https://www.mythrillfiction.com/force-mage" alt="Mythrill" target="_blank">
    <div class="cardtest">
      <div class="wrapper">
        <%= image_tag('logements/hote.jpg', class: 'cover-image') %>
      </div>
      <%= image_tag('logements/hotetext.png', class: 'title') %>
      <%= image_tag('logements/hote1.png', class: 'character') %>

    </div>
  </a>

  <a href="https://www.mythrillfiction.com/force-mage" alt="Mythrill" target="_blank">
    <div class="cardtest">
      <div class="wrapper">
        <%= image_tag('logements/caravane.jpg', class: 'cover-image') %>

      </div>
      <%= image_tag('logements/ccartext.png', class: 'title') %>
      <%= image_tag('logements/ccar2.png', class: 'character') %>
    </div>
  </a>

</div>
