<div class="test-home-page">

  <%= render "home/suiveur_souris" %>


  <div class="test-home-container">

    <%= render "home/maindiv" %>
    <%= render "home/deuxiemediv" %>
    <%= render "home/troisimediv" %>
    <%= render "home/quatriemediv" %>

  </div>
</div>


<!-- parallax main -->
<%= render "home/z_js_main_parallax" %>

<!-- suiveur de souris -->
<%= render "home/z_js_suiveur_souris" %>

<!-- drag and drop -->
<%= render "home/z_js_drag_carrou" %>

<!-- transition color svg -->
<%= render "home/z_js_transition_color_svg" %>

<!-- parallax des items du carrou -->
<%= render "home/z_js_item_carrou_parallax" %>
