
<div class="testcontainer">
  <a href="https://www.mythrillfiction.com/the-dark-rider" alt="Mythrill" target="_blank">
    <div class="cardtest">
      <div class="wrapper">
        <%= image_tag('activites/mobilehomes.jpg', class: 'cover-image') %>
      </div>
      <img src="https://ggayane.github.io/css-experiments/cards/dark_rider-title.png" class="title" />
      <%= image_tag('activites/tente1.png', class: 'character') %>

    </div>
  </a>

  <a href="https://www.mythrillfiction.com/force-mage" alt="Mythrill" target="_blank">
    <div class="cardtest">
      <div class="wrapper">
        <%= image_tag('logements/location1.jpg', class: 'cover-image') %>
      </div>
      <img src="https://ggayane.github.io/css-experiments/cards/force_mage-title.png" class="title" />
      <%= image_tag('logements/location1.png', class: 'character') %>
    </div>
  </a>

  <a href="https://www.mythrillfiction.com/force-mage" alt="Mythrill" target="_blank">
    <div class="cardtest">
      <div class="wrapper">
        <%= image_tag('logements/hote1.jpg', class: 'cover-image') %>
      </div>
      <img src="https://ggayane.github.io/css-experiments/cards/force_mage-title.png" class="title" />
      <%= image_tag('logements/hote1.png', class: 'character') %>

    </div>
  </a>

  <a href="https://www.mythrillfiction.com/force-mage" alt="Mythrill" target="_blank">
    <div class="cardtest">
      <div class="wrapper">
        <%= image_tag('logements/caravane1.jpg', class: 'cover-image') %>

      </div>
      <img src="https://ggayane.github.io/css-experiments/cards/force_mage-title.png" class="title" />
      <img src="https://ggayane.github.io/css-experiments/cards/force_mage-character.webp" class="character" />
    </div>
  </a>

</div>
