<div class="activite-index-container" style="background-image: url('<%= asset_path('home/sablebg.png') %>');">

  <div class="faune-return-btn">
    <%= link_to root_path do %>
      <%= image_tag('home/MerlimontB.png') %>
    <% end %>
  </div>

  <div class="activite-index-title">
    <h1 class="activite-index-shadow-title">Les Activités à Merlimont</h1>
    <h1 class="activite-index-block-title">Les Activités à Merlimont</h1>
  </div>

  <div class="activite-index-all-acti-container">

    <div class="activite-index-all-acti">
      <% @activites.each do |activite| %>
        <div class="activite-index-une-acti-container">

          <%= link_to activite_path(activite), class: "activite-index-une-acti" do %>

            <div class="moovetoo">
              <% if activite.photo.attached? %>
                <div class="acti-ind-pic-container">
                  <%= cl_image_tag activite.photo.key %>
                </div>
              <% end %>
            </div>

              <p class="acti-ind-title"><%= activite.title %></p>

          <% end %>

        </div>
      <% end %>
    </div>

  </div>

</div>
