<div class="activite-show-container" data-controller="show-acti">

  <div class="faune-return-btn">

    <%= link_to root_path(anchor: "home-acti"), data: { turbo: "false" } do %>
      <i class="fa-solid fa-backward" style="color: #FFFFFFE3;"></i>
    <% end %>

  </div>


  <div class="activite-show-title">
    <h1 class="activite-show-shadow-title"><%= @activite.title %></h1>
    <h1 class="activite-show-block-title"><%= @activite.title %></h1>
  </div>

  <div class="activite-show-pic-text-container">

    <div class="activite-show-pic-container">

      <% if @activite.photo.attached? %>
        <%= cl_image_tag @activite.photo.key %>
      <% end %>

      <div class="activite-show-pic-container-star-content">
        <%= image_tag('testhome/starfish.png') %>
      </div>

      <div class="activite-show-pic-container-star-content-deux">
        <%= image_tag('testhome/starfish.png') %>
      </div>

      <div class="activite-show-pic-container-star-content-trois">
        <%= image_tag('testhome/starfish.png') %>
      </div>

    </div>

    <div class="activite-show-text-container">
      <div class="activite-show-text-container-content">

        <!-- star fish -->
        <div class="activite-show-text-container-star-content-top">
          <%= image_tag('testhome/starfish.png') %>
        </div>
        <div class="activite-show-text-container-star-content-bottom">
          <%= image_tag('testhome/starfish.png') %>
        </div>

        <div class="activite-show-text-content">

          <!-- les call to actions du stimulus -->
          <div class="activite-show-cta-container">

            <div class="activite-show-cta-content"  data-action="click->show-acti#opendescription">
              <p><i class="fa-brands fa-readme" style="color: #FFF;"></i></p>
            </div>

            <div class="activite-show-cta-content" data-action="click->show-acti#openaddress">
              <p><i class="fa-solid fa-location-dot" style="color: #fff;"></i></p>
            </div>

            <div class="activite-show-cta-content"  data-action="click->show-acti#openprice">
              <p><i class="fa-solid fa-euro-sign" style="color: #ffffff;"></i></p>
            </div>

            <div class="activite-show-cta-content" data-action="click->show-acti#openhours">
              <p><i class="fa-solid fa-clock" style="color: #ffffff;"></i></p>
            </div>

          </div>
          <!--  -->
          <!-- <p class="activite-show-text"><%= @activite.description %></p> -->

          <div class="show-div-text activite-show-div-adresse" data-show-acti-target="description">
            <p class="show-p-title">Description</p>
            <div class="show-div-ligne"><p><%= @activite.description %></p></div>
          </div>


          <div class="show-div-text activite-show-div-adresse d-none" data-show-acti-target="address">
            <p class="show-p-title">Adresse</p>
            <div class="show-div-ligne"><p class="show-jour"><i class="fa-solid fa-location-dot" style="color: #FFFFFFB5;"></i></p><p><%= @activite.address %></p></div>
            <div class="show-div-ligne"><p class="show-jour"><i class="fa-solid fa-phone" style="color: #FFFFFFB5;"></i></p><p><%= @activite.phone %></p></div>
          </div>


          <div class="show-div-text activite-show-div-prix d-none" data-show-acti-target="price">
            <p class="show-p-title">Prix</p>
            <div class="show-div-ligne"><p class="show-jour">Adultes :</p><p><%= @activite.price_a %></p></div>
            <div class="show-div-ligne"><p class="show-jour">Enfants -10 ans :</p><p><%= @activite.price_b %></p></div>
          </div>



          <div class="show-div-text activite-show-div-horaires d-none" data-show-acti-target="hours">
            <p class="show-p-title">Horaires</p>

            <div class="show-div-horaires">

              <div class="show-div-ligne">
                <p class="show-jour">Lundi</p>
                <p>
                  <%= @activite.luns.slice(0, 2) %>:<%= @activite.luns.slice(-2, 2) %> –
                  <%= @activite.lunbs.slice(0, 2) %>:<%= @activite.lunbs.slice(-2, 2) %> -
                  <%= @activite.lunbe.slice(0, 2) %>:<%= @activite.lunbe.slice(-2, 2) %> -
                  <%= @activite.lune.slice(0, 2) %>:<%= @activite.lune.slice(-2, 2) %>
                </p>
              </div>

              <div class="show-div-ligne">
                <p class="show-jour">Mardi</p>
                <p>
                  <%= @activite.mars.slice(0, 2) %>:<%= @activite.mars.slice(-2, 2) %> –
                  <%= @activite.marbs.slice(0, 2) %>:<%= @activite.marbs.slice(-2, 2) %> -
                  <%= @activite.marbe.slice(0, 2) %>:<%= @activite.marbe.slice(-2, 2) %> -
                  <%= @activite.mare.slice(0, 2) %>:<%= @activite.mare.slice(-2, 2) %>
                </p>
              </div>

              <div class="show-div-ligne">
                <p class="show-jour">Mercredi</p>
                <p>
                  <%= @activite.mers.slice(0, 2) %>:<%= @activite.mers.slice(-2, 2) %> –
                  <%= @activite.merbs.slice(0, 2) %>:<%= @activite.merbs.slice(-2, 2) %> -
                  <%= @activite.merbe.slice(0, 2) %>:<%= @activite.merbe.slice(-2, 2) %> -
                  <%= @activite.mere.slice(0, 2) %>:<%= @activite.mere.slice(-2, 2) %>
                </p>
              </div>

              <div class="show-div-ligne">
                <p class="show-jour">Jeudi</p>
                <p>
                  <%= @activite.jeus.slice(0, 2) %>:<%= @activite.jeus.slice(-2, 2) %> –
                  <%= @activite.jeubs.slice(0, 2) %>:<%= @activite.jeubs.slice(-2, 2) %> -
                  <%= @activite.jeube.slice(0, 2) %>:<%= @activite.jeube.slice(-2, 2) %> -
                  <%= @activite.jeue.slice(0, 2) %>:<%= @activite.jeue.slice(-2, 2) %>
                </p>
              </div>

              <div class="show-div-ligne">
                <p class="show-jour">Vendredi</p>
                <p>
                  <%= @activite.vens.slice(0, 2) %>:<%= @activite.vens.slice(-2, 2) %> –
                  <%= @activite.venbs.slice(0, 2) %>:<%= @activite.venbs.slice(-2, 2) %> -
                  <%= @activite.venbe.slice(0, 2) %>:<%= @activite.venbe.slice(-2, 2) %> -
                  <%= @activite.vene.slice(0, 2) %>:<%= @activite.vene.slice(-2, 2) %>
                </p>
              </div>

              <div class="show-div-ligne">
                <p class="show-jour">Samedi</p>
                <p>
                  <%= @activite.sams.slice(0, 2) %>:<%= @activite.sams.slice(-2, 2) %> –
                  <%= @activite.sambs.slice(0, 2) %>:<%= @activite.sambs.slice(-2, 2) %> -
                  <%= @activite.sambe.slice(0, 2) %>:<%= @activite.sambe.slice(-2, 2) %> -
                  <%= @activite.same.slice(0, 2) %>:<%= @activite.same.slice(-2, 2) %>
                </p>
              </div>

              <div class="show-div-ligne">
                <p class="show-jour">Dimanche</p>
                <p>
                  <%= @activite.dims.slice(0, 2) %>:<%= @activite.dims.slice(-2, 2) %> –
                  <%= @activite.dimbs.slice(0, 2) %>:<%= @activite.dimbs.slice(-2, 2) %> -
                  <%= @activite.dimbe.slice(0, 2) %>:<%= @activite.dimbe.slice(-2, 2) %> -
                  <%= @activite.dime.slice(0, 2) %>:<%= @activite.dime.slice(-2, 2) %>
                </p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>
