<div class="activite-show-container" data-controller="show-acti">

  <div class="faune-return-btn">

    <%= link_to root_path(anchor: "home-acti"), data: { turbo: "false" } do %>
      <i class="fa-solid fa-backward" style="color: #FFFFFFE3;"></i>
    <% end %>

  </div>


  <div class="activite-show-title">
    <h1 class="activite-show-shadow-title"><%= @activite.title %></h1>
    <h1 class="activite-show-block-title"><%= @activite.title %></h1>
  </div>

  <div class="activite-show-pic-text-container">

    <div class="activite-show-pic-container">

      <% if @activite.photo.attached? %>
        <%= cl_image_tag @activite.photo.key %>
      <% end %>

      <div class="activite-show-pic-container-star-content">
        <%= image_tag('testhome/starfish.png') %>
      </div>

      <div class="activite-show-pic-container-star-content-deux">
        <%= image_tag('testhome/starfish.png') %>
      </div>

      <div class="activite-show-pic-container-star-content-trois">
        <%= image_tag('testhome/starfish.png') %>
      </div>

    </div>

    <div class="activite-show-text-container">
      <div class="activite-show-text-container-content">

        <!-- star fish -->
        <div class="activite-show-text-container-star-content-top">
          <%= image_tag('testhome/starfish.png') %>
        </div>
        <div class="activite-show-text-container-star-content-bottom">
          <%= image_tag('testhome/starfish.png') %>
        </div>

        <div class="activite-show-text-content">

          <!-- les call to actions du stimulus -->
          <div class="activite-show-cta-container">

            <div class="activite-show-cta-content"  data-action="click->show-acti#opendescription">
              <p><i class="fa-brands fa-readme" style="color: #FFF;"></i></p>
            </div>

            <div class="activite-show-cta-content" data-action="click->show-acti#openaddress">
              <p><i class="fa-solid fa-location-dot" style="color: #fff;"></i></p>
            </div>

            <div class="activite-show-cta-content"  data-action="click->show-acti#openprice">
              <p><i class="fa-solid fa-euro-sign" style="color: #ffffff;"></i></p>
            </div>

            <div class="activite-show-cta-content" data-action="click->show-acti#openhours">
              <p><i class="fa-solid fa-clock" style="color: #ffffff;"></i></p>
            </div>

          </div>
          <!--  -->
          <!-- <p class="activite-show-text"><%= @activite.description %></p> -->

          <div class="show-div-text activite-show-div-adresse" data-show-acti-target="description">
            <p class="show-p-title">Description</p>
            <div class="show-div-ligne"><p><%= @activite.description %> <%= @activite.description %></p></div>
          </div>


          <div class="show-div-text activite-show-div-adresse d-none" data-show-acti-target="address">
            <p class="show-p-title">Adresse</p>
            <div class="show-div-ligne"><p class="show-jour"><i class="fa-solid fa-location-dot" style="color: #FFFFFFB5;"></i></p><p>Rue de la poste 62155 MERLIMONT</p></div>
            <div class="show-div-ligne"><p class="show-jour"><i class="fa-solid fa-phone" style="color: #FFFFFFB5;"></i></p><p>03.21.84.13.94</p></div>
          </div>


          <div class="show-div-text activite-show-div-prix d-none" data-show-acti-target="price">
            <p class="show-p-title">Prix</p>
            <div class="show-div-ligne"><p class="show-jour">Adultes :</p><p>5 euros</p></div>
            <div class="show-div-ligne"><p class="show-jour">Enfants -10 ans :</p><p>4 euros</p></div>
          </div>



          <div class="show-div-text activite-show-div-horaires d-none" data-show-acti-target="hours">
            <p class="show-p-title">Horaires</p>
            <div class="show-div-horaires">
              <div class="show-div-ligne"><p class="show-jour">Lundi</p>	<p>10:00–12:00 - 14:00–20:00</p></div>
              <div class="show-div-ligne"><p class="show-jour">Mardi</p>	<p>10:00–12:00 - 14:00–20:00</p></div>
              <div class="show-div-ligne"><p class="show-jour">Mercredi</p>	<p>10:00–12:00 - 14:00–20:00</p></div>
              <div class="show-div-ligne"><p class="show-jour">Jeudi</p>	<p>10:00–12:00 - 14:00–20:00</p></div>
              <div class="show-div-ligne"><p class="show-jour">Vendredi</p>	<p>10:00–12:00 - 14:00–20:00</p></div>
              <div class="show-div-ligne"><p class="show-jour">Samedi</p>	<p>10:00–12:00 - 14:00–20:00</p></div>
              <div class="show-div-ligne"><p class="show-jour">Dimanche</p>	<p>10:00–12:00 - 14:00–20:00</p></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
