<div class="biotop-form-container">
  <div class="sign-in-form-container">
    <div class="sign-in-form-content-container">
      <div class="sign-in-form-content">

        <div class="biotop-form-titre">
          <h2>Connection</h2>
        </div>

        <div class="biotop-form-formulaire-container">
          <div class="biotop-form-formulaire">
            <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: :false }) do |f| %>
              <div class="biotop-form-inputs">

                <div class="biotop-form-input-input">
                  <%= f.input :email,
                              required: false,
                              autofocus: true,
                              input_html: { autocomplete: "email" } %>
                </div>

                <div class="biotop-form-input-input">
                  <%= f.input :password,
                              label: "Mot de passe",
                              required: false,
                              input_html: { autocomplete: "current-password" } %>
                </div>

                <%= f.input :remember_me, label: "Se souvenir de moi", as: :boolean if devise_mapping.rememberable? %>

              </div>

              <div class="form-actions">
                <%= f.button :submit, "Se connecter" %>
              </div>
            <% end %>


            <%= link_to "Crée un compte", fauneflore_path(anchor: "faune-maitre-compte") %>
            <%= link_to "Mot de passe oublié?", new_password_path(resource_name) %><br />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="biotop-herbe-espece">
    <%= image_tag('faune/hauteherbe.png') %>
  </div>

</div>
