<div class="form-container">

  <div class="form-titre">
    <h1>Ajoutez votre aniaml</h1>
  </div>

  <div class="form-formulaire">
    <%= simple_form_for @faune do |f| %>
      <%= f.input :categorie, as: :select, collection: ["Oiseaux", "Mammifères terrestres", "Poissons", "Crustacés", "Mammifères marins", "Insectes & arthropodes", "Reptiles", "Amphibiens", "Petits mammifères"], prompt: 'Choisissez une catégorie' %>
      <%= f.input :nom, placeholder: 'nom' %>
      <%= f.input :description, placeholder: 'Description' %>
      <%= f.input :photo, as: :file %>
      <div class="form-input">
        <%= f.button :submit, value: 'Validation' %>
      </div>
    <% end %>
  </div>

</div>
