<div class="faune-show-container">

  <div class="faune-show-back">
    <%= link_to "< Retour", request.referer || faunecat_path %>
  </div>

  <div class="faune-show-title">
    <h1><%= @faune.nom %></h1>
  </div>

  <div class="faune-show-desc-pic">

    <div class="faune-show-desc">
      <p class="faune-show-desc-parag"><%= @faune.description %></p>
    </div>

    <div class="faune-show-pic">
      <% if @faune.photo.attached? %>
        <%= cl_image_tag @faune.photo.key %>
      <% end %>
    </div>

  </div>

  <div class="faunecat-herbe">
    <% if ['Poissons', 'Crustacés', 'Mammifères marins'].include?(@faune.categorie) %>
      <%= image_tag('emplacements/algues.svg') %>
    <% else %>
      <%= image_tag('faunecat/faunecatherbe.png') %>
    <% end %>
  </div>


</div>
