<div class="biotop-container">

  <% if user_signed_in? %>
    <%= link_to moncompte_path do %>
      <div class="moncompte-link-sticky-container">
        <div class="moncompte-link-sticky">
          <% if current_user.photo.attached? %>
            <%= image_tag current_user.photo.url %>
          <% else %>
            <%= image_tag "default_user_photo.png", alt: "Default User Photo" %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>

  <div class="biotop-return-btn">
    <%= link_to "< Faune & Flore", fauneflore_path(anchor: 'decouvrir'), data: { turbo: false } %>
  </div>

  <div class="biotop-title">
    <% if @biotop_categorie.present? %>
      <h1>La <%= @biotop_categorie %></h1>
    <% else %>
      <h1>La Faune et la Flore</h1>
    <% end %>
  </div>

  <div class="biotop-categories-container">
    <div class="biotop-categories-grid-container">

      <% @typeEspeceCategories.each do |type_espece_categorie| %>
        <%= link_to espece_categories_path(type_espece_categorie_categorie: type_espece_categorie.categorie), class: 'biotop-categories-owner', data: { turbo: false } do %>
          <div class="biotop-categories-owner-title">
            <%= type_espece_categorie.categorie %>
          </div>
          <div class="biotop-categories-owner-picture">
            <% if type_espece_categorie.photo.attached? %>
              <%= image_tag(type_espece_categorie.photo.url, alt: "#{type_espece_categorie.categorie} Image") %>
            <% else %>
              <p>Image error</p>
            <% end %>
          </div>
        <% end %>
      <% end %>

    </div>
  </div>

  <div class="biotop-herbe">
    <div class="biotop-herbe-espece">
      <%= image_tag('faune/hauteherbe.png') %>
    </div>
  </div>

</div>
