<div class="biotop-container">

  <% if user_signed_in? %>
    <%= link_to moncompte_path do %>
      <div class="moncompte-link-sticky-container">
        <div class="moncompte-link-sticky">
          <% if current_user.photo.attached? %>
            <%= image_tag current_user.photo.url %>
          <% else %>
            <%= image_tag "default_user_photo.png", alt: "Default User Photo" %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>

  <div class="biotop-return-btn">

    <% if @type_espece_categorie_categorie.present? %>
      <%= link_to "< La #{@biotop.categorie}", type_espece_categories_path(biotop_categorie: @biotop.categorie) %>
    <% else %>
      <%= link_to "Faune & Flore", type_espece_categories_path %>
    <% end %>

  </div>

  <div class="biotop-title">
    <h1><%= @type_espece_categorie_categorie.present? ? "Les #{@type_espece_categorie_categorie}" : 'Tous notre faune' %></h1>
  </div>

  <div class="biotop-categories-container">
    <div class="biotop-categories-grid-container">

      <% @especeCategories.each do |x| %>
        <%= link_to especes_path(espece_categorie_categorie: x.categorie), class: 'biotop-categories-owner', data: { turbo: false } do %>
          <div class="biotop-categories-owner-title"><%= x.categorie %></div>
          <% if x.photo.attached? %>
            <div class="biotop-categories-owner-picture">
              <%= cl_image_tag x.photo.key %>
            </div>
          <% end %>
        <% end %>
      <% end %>

    </div>
  </div>


  <% if @especeCategories.present? %>
    <div class="biotop-herbe">
      <div class="biotop-herbe-espece">
        <% if ['Poissons', 'Crustacés', 'Mammifères marins'].include?(@type_espece_categorie_categorie) %>
          <%= image_tag('emplacements/algues.svg') %>
        <% else %>
          <%= image_tag('faune/hauteherbe.png') %>
        <% end %>
      </div>
    </div>
  <% else %>
      <div class="biotop-herbe-espece">
        <% if ['Poissons', 'Crustacés', 'Mammifères marins'].include?(@type_espece_categorie_categorie) %>
          <%= image_tag('emplacements/algues.svg') %>
        <% else %>
          <%= image_tag('faune/hauteherbe.png') %>
        <% end %>
      </div>
  <% end %>
</div>
