<div class="biotop-form-container">

  <div class="biotop-form-titre">
    <h1>Ajoutez votre découverte</h1>
  </div>

  <div class="biotop-form-formulaire-container">
    <div class="biotop-form-formulaire">
      <%= simple_form_for @espece do |f| %>
        <div class="form-select-espece">
          <%= f.collection_select :espece_categorie_id, EspeceCategorie.order(:categorie), :id, :categorie, prompt: "Sélectionnez l'éspéce découverte" %>
          <p>Si l'éspéce n'as pas encore été repertorié clic <%= link_to "ici", new_espece_category_path %> ?</p>
        </div>
        <div class="biotop-form-input-input">
          <%= f.input :photo, as: :file, label: "Votre photo *" %>
          <%= f.input :nom, placeholder: "Nom de l'éspéce", label: "Nom de l'éspéce *" %>
          <%= f.label :description, "Votre description *" %>
          <%= f.text_area :description, placeholder: ' Votre description', rows: 5 %>
        </div>
        <div class="biotop-form-input">
          <%= f.button :submit, value: 'Validation' %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="biotop-herbe-espece">
    <%= image_tag('faune/hauteherbe.png') %>
  </div>

</div>
