<div class="biotop-form-container">

  <div class="biotop-form-titre">
    <h1>Ajoutez votre découverte</h1>
  </div>

  <div class="biotop-form-formulaire-container">
    <div class="biotop-form-formulaire">
      <%= simple_form_for @espece do |f| %>
        <div class="form-select-espece">
          <%= f.collection_select :espece_categorie_id, EspeceCategorie.order(:categorie), :id, :categorie, prompt: "Sélectionnez l'espece découverte" %>
          <p>Si l'éspece n'as pas encore été repertorié clic <%= link_to "ici", new_espece_category_path %> ?</p>

        </div>
        <%= f.input :nom, placeholder: 'nom' %>
        <%= f.input :description, placeholder: 'description' %>
        <%= f.input :photo, as: :file %>
        <div class="biotop-form-input">
          <%= f.button :submit, value: 'Validation' %>
        </div>
      <% end %>
    </div>
  </div>

</div>
