<!DOCTYPE html>
<html>
  <head>
    <title>Merlimont</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.1/dist/sweetalert2.min.css">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <script>
      document.addEventListener("DOMContentLoaded", function() {
        var alerts = document.querySelectorAll('.alert-dismissible');

        alerts.forEach(function(alert) {
          setTimeout(function() {
            alert.style.display = 'none';
          }, 5000); // Masque l'alerte après 5 secondes
        });
      });

      document.addEventListener('turbolinks:click', function (event) {
        if (event.target.getAttribute('data-turbo') == 'false' || event.target.getAttribute('data-no-turbo') == 'true') {
          event.preventDefault();
          window.location.href = event.target.href;
        }
      });
    </script>

  </head>

  <body>
    <!-- <%= render "shared/navbar" %> -->
    <%= render "shared/flashes" %>

    <%= yield %>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.1/dist/sweetalert2.all.min.js"></script>
  </body>

  <% unless request.path == '/merlimontdavant' %>
    <footer>
      <div class="footer">
        <p>© copyright 2024 | tout droit réservé | Une production Anonymous1 & Anonymous2</p>
        <p>Just for the love &lt;3</p>
      </div>
    </footer>
  <% end %>

</html>
